@model List<PPl3.Models.Friendship>
@{
    PPl3.Models.user p_user = (PPl3.Models.user)HttpContext.Current.Session["user"];
    PPl3.Models.PPL3Entities db = new PPl3.Models.PPL3Entities();
    
    int count = 1;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/ExtraFiles/assets/css/gird.css" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/message.css?v=3" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/headerGuest.css?v=1" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZf3I4TkruOraYvnm7WbRSU3qYV2Lkj3_0w3wfgQrApnsvo-yspjafW8P57Demy0zgf6U&usqp=CAU">
    <title>Message</title>
</head>
<body>
    <div class="main">
        <div id="header">
            <div class="gird wide">
                <div class="row no-gutter nav">
                    <div class="nav_logo">
                        <div class="nav_logo">
                            <a href="/user/homeuser/index" class="logo_link">
                                <i class="fa-brands fa-think-peaks" style="color: #ff385c;"></i>
                                <h1>T|.|N|.|T</h1>
                            </a>
                        </div>
                    </div>
                    <div class="nav_menu">
                        <div class="nav_languages">
                            <a href="/host/homehost/listing">Switch To Hosting</a>
                            <button><i class="fa-solid fa-globe"></i></button>
                        </div>
                        <div class="nav_login">
                            <button class="js_menuUser_btn"><i class="fa-solid fa-bars"></i></button>
                            @{
                                int countNoti = 0;
                                foreach (var item in db.user_notification.Where(tmp => tmp.userid == p_user.id && tmp.un_status == 0).ToList())
                                {
                                    countNoti++;
                                }
                            }
                            @if (p_user.user_profile.FirstOrDefault() != null && p_user.user_profile.FirstOrDefault().user_avatar != null)
                            {
                                <button class="js_menuUser_btn icon_style" style="background : url(@p_user.user_profile.FirstOrDefault().user_avatar) top center /cover no-repeat">
                                    @if (countNoti != 0)
                                    {
                                        <span class="notification_badge">@countNoti</span>
                                    }
                                    else
                                    {

                                        <span class="notification_badge" style="background-color:transparent"></span>
                                    }
                                </button>
                            }
                            else
                            {
                        <button class="js_menuUser_btn icon_style" style="background: url(https://cdn-icons-png.flaticon.com/512/552/552721.png) top center /cover no-repeat">
                            @*<i class="fa-solid fa-user"></i>*@
                            @if (countNoti != 0)
                            {
                                <span class="notification_badge">@countNoti</span>
                            }
                            else
                            {

                                <span class="notification_badge" style="background-color:transparent"></span>
                            }
                        </button>
                            }
                        </div>

                        <div class="sub_nav sub_nav_user js_sub_nav_user">
                            <ul class="menu_user js_menu_user">
                                <li class=""><a href="/user/homeuser/chatuser">Messages</a></li>
                                <li class=""><a href="/user/homeuser/notification">Notifications</a></li>
                                <li class=""><a href="/user/homeuser/trip">Trip</a></li>
                                <li class=""><a href="/user/homeuser/wishlist">Wishlist</a></li>
                                <li><a href="/host/HomeHost/Listing">Manage listings</a></li>
                                <li><a href="/user/homeuser/profile?id=@p_user.id">Account</a></li>
                                <li><a href="mailto:tnthotel2004@gmail.com">Help Center</a></li>
                                <li class="user_log_out"><a href="/user/homeuser/Logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="l-4 m-2 c-12">
                <div class="mess_box">
                    <div class="tittle">
                        <h1>Message</h1>
                        <button><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                    <div class="search first_input">
                        <input type="text" name="" id="search_user" placeholder="Search...">
                    </div>
                    <div class="list_message">
                        <ul>
                            @foreach (var item in Model)
                            {
                                if (item.UserId1 == p_user.id)
                                {
                                    <li class="@item.UserId2">
                                        @if (item.user1.user_profile.FirstOrDefault().user_avatar != null)
                                        {
                                            <div class="avatar" style="background: url('@item.user1.user_profile.FirstOrDefault().user_avatar') top center /cover no-repeat;"></div>
                                        }
                                        else
                                        {
                                            <div class="avatar" style="background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Ftopnow.edu.vn%2Favatar-sieu-dep-a73155&psig=AOvVaw14tyuxRz31D_d4uuDdL5_v&ust=1715095774453000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDEz-Wr-YUDFQAAAAAdAAAAABAQ') top center /cover no-repeat;"></div>
                                        }
                                        <div class="detail">
                                            <div class="name">
                                                <p>@item.user1.user_personalInfor.FirstOrDefault().legal_name</p>
                                                @if (item.user1.user_status == 1)
                                                {
                                                    <span style="color:green">Online</span>
                                                }
                                                else
                                                {
                                                    <span style="color:gray">Offline</span>
                                                }
                                            </div>
                                            <div class="message mess_@count @item.user1.id">
                                                @{ 
                                                    var messageContent = db.Messages

                                                    .Where(row => (row.ReceiverID == item.UserId2 && row.SenderID == p_user.id) || (row.SenderID == item.UserId2 && row.ReceiverID == p_user.id))

                                                    .OrderByDescending(row => row.ID)

                                                    .FirstOrDefault()?.MessageContent ?? "";
                                                }
                                                @if(messageContent.Contains("data:image/jpeg")) { 
                                                    <p>Pictrue</p>
                                                
                                                }
                                                else { 
                                                    <p>@messageContent</p>
                                                }
                                                
                                            </div>
                                        </div>
                                    </li>
                                }
                                else { 
                                    <li class="@item.UserId1">
                                        @if (item.user.user_profile.FirstOrDefault().user_avatar != null)
                                        {
                                            <div class="avatar" style="background: url('@item.user.user_profile.FirstOrDefault().user_avatar') top center /cover no-repeat;"></div>
                                        }
                                        else
                                        {
                                            <div class="avatar" style="background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Ftopnow.edu.vn%2Favatar-sieu-dep-a73155&psig=AOvVaw14tyuxRz31D_d4uuDdL5_v&ust=1715095774453000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDEz-Wr-YUDFQAAAAAdAAAAABAQ') top center /cover no-repeat;"></div>
                                        }
                                        <div class="detail">
                                            <div class="name">
                                                <p>@item.user.user_personalInfor.FirstOrDefault().legal_name</p>
                                                @if (item.user.user_status == 1)
                                                {
                                                    <span style="color:greenyellow">Online</span>
                                                }
                                                else { 
                                                    <span style="color:gray">Offline</span>
                                                }
                                            </div>
                                            <div class="message mess_@count @item.user.id">
                                                @{
                                                    var messageContent = db.Messages

                                                    .Where(row => (row.ReceiverID == item.UserId1 && row.SenderID == p_user.id) || (row.SenderID == item.UserId1 && row.ReceiverID == p_user.id))

                                                    .OrderByDescending(row => row.ID)

                                                    .FirstOrDefault()?.MessageContent ?? "";
                                                }
                                                @if (messageContent.Contains("data:image/jpeg"))
                                                {
                                                    <p>Pictrue</p>

                                                }
                                                else
                                                {
                                                    <p>@messageContent</p>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                                count = count + 1;
                            }


                        </ul>
                    </div>
                </div>
            </div>
            <div class="l-8 m-10 c-12">
                <div class="container">
                    <div class="l-8 m-12 c-12 mess_box mess_detail ">
                        <div class="header_mess">
                            <div class="name_mess">
                                <div class="avatar avatar_user">

                                </div>
                                <p class="name_user">Le Dinh Toan</p>
                            </div>
                            <div class="btn_detail">
                                <button><i class="fa-solid fa-exclamation"></i></button>
                            </div>
                        </div>

                        <div class="list_body">
                            @{
                                count = 1;
                            }
                            @foreach (var item in Model)
                            {
                                if (item.UserId1 == p_user.id)
                                {
                                    <div class="body_mess mess_@count @item.UserId2">
                                        <div class="chat_section @(count)p">
                                            <div class="text text_user">
                                                
                                            </div>
                                        </div>
                                    </div>
                                }
                                else { 
                                    <div class="body_mess mess_@count @item.UserId1">
                                        <div class="chat_section @(count)p">
                                            <div class="text text_user">
                                               
                                            </div>
                                        </div>
                                    </div>
                                }
                                count = count + 1;
                            }
                        </div>
                        <div class="footer_mess">
                            <div class="input_mess">
                                
                                <input type="file" hidden accept="img/*" id="img_mess">
                                <button class="add_file_btn" accept=".jpg, .png"><i class="fa-solid fa-circle-plus"></i></button>
                                <input type="text" id="message_send" placeholder="Aa....">
                                <button class="send_btn"><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="l-4 m-12 c-12 mess_box user_detail">
                        <div class="header_detail">
                            <div class="avatar avatar_user">

                            </div>
                            <div class="name_detail">
                                <h1 class="name_user">Le Dinh Toan</h1>
                            </div>
                        </div>
                        <ul class="nav_bar">
                            <li>
                                <button><i class="fa-solid fa-user"></i></button>
                                <p>Profile</p>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-clock-rotate-left"></i></button>
                                <p>History</p>
                            </li>
                            <li>
                                <button><i class="fa-solid fa-circle-minus"></i></button>
                                <p>Block</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/ExtraFiles/JS/message.js?v=7"></script>
    <script src="~/ExtraFiles/JS/menuGuest.js"></script>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs?v=1"></script>
</body>
</html>

<script>

    var openUser = '@ViewBag.openUser';
    if (openUser != '-1') {
        $(`.list_message .${openUser}`).trigger("click");
    }
    $(function () {
    var chatHub = $.connection.chat;
    console.log(chatHub);
    loadClient(chatHub);
    var user = { id: "@p_user.id", name: "@p_user.account_name" };
    $.connection.hub.qs = "userId=" + user.id + "&userName=" + user.name;
    $.connection.hub.start().done(function () {


        $(".send_btn").click(function () {

            var content = $("#message_send").val();
            var senderId = "@p_user.id"; // Thay bằng id của người gửi
            var receiverId = $('.body_mess.open').attr("class").split(" ")[2]; // Thay bằng id của người nhận

            if (content.trim() != "") {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SendMessage", "homeUser", new { area = "User" })",
                    data: { senderId: senderId, receiverId: receiverId, content: content },
                    success: function () {
                        // Load lại tin nhắn
                        console.log(1);
                        var chatsection = $('.body_mess.open').find('.chat_section');
                        chatsection.append(`<div class="text text_you">
                            <p>${content}</p>
                        </div>`);
                        $(`.detail .${receiverId} p`).text(content);
                        chatSection = $(`.body_mess.open`);
                        chatSection.scrollTop(chatSection.prop("scrollHeight"));
                    }
                });
                sendinput.value = '';
                chatHub.server.sendMessage(receiverId, content);
            }


        });

        $('#message_send').keypress(function (e) {
            if (e.which == 13) {
                var content = $("#message_send").val();
                var senderId = "@p_user.id"; // Thay bằng id của người gửi
                var receiverId = $('.body_mess.open').attr("class").split(" ")[2]; // Thay bằng id của người nhận

                /*$(`.detail .${receiverId} p`).text(content);*/
                if (content.trim() != "") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SendMessage", "homeUser", new { area = "User" })",
                        data: { senderId: senderId, receiverId: receiverId, content: content },
                        success: function () {
                            // Load lại tin nhắn
                            console.log(1);
                            var chatsection = $('.body_mess.open').find('.chat_section');
                            chatsection.append(`<div class="text text_you">
                                <p>${content}</p>
                            </div>`);
                            $(`.detail .${receiverId} p`).text(content);
                            chatSection = $(`.body_mess.open`);
                            chatSection.scrollTop(chatSection.prop("scrollHeight"));
                        }
                    });
                    sendinput.value = '';
                    chatHub.server.sendMessage(receiverId, content);
                }


            }
        });
        document.querySelector('.add_file_btn').addEventListener('click', function () {
            document.getElementById('img_mess').click(() => {

            });
        });
        document.getElementById('img_mess').addEventListener('change', function (event) {
            var senderId = "@p_user.id"; // Thay bằng id của người gửi
            var receiverId = $('.body_mess.open').attr("class").split(" ")[2]; // Thay bằng id của người nhận
            const fileInput = document.getElementById('img_mess');
            const file = fileInput.files[0];
            if (file) {
                var readerLeft = new FileReader();
                readerLeft.readAsDataURL(file);
                readerLeft.onload = function (e) {
                    var fileUpload = e.target.result;
                    console.log(fileUpload);
                     $.ajax({
                         type: "POST",
                         url: "@Url.Action("SendMessage", "homeUser", new { area = "User" })",
                         data: { senderId: senderId, receiverId: receiverId, content: fileUpload },
                         success: function () {
                             // Load lại tin nhắn
                             console.log(1);
                             var chatsection = $('.body_mess.open').find('.chat_section');
                             chatsection.append(`<div class="text text_you">
                                 <img src="${fileUpload}" class = \"picture_css"\ alt="Ảnh" />
                             </div>`);
                             $(`.detail .${receiverId} p`).text("Picture");
                             chatSection = $(`.body_mess.open`);
                             chatSection.scrollTop(chatSection.prop("scrollHeight"));
                         },
                         error: function (error) {
                             alert.console("Image size is too large");
                         }
                     });
                    chatHub.server.sendMessage(receiverId, fileUpload);
                };
            }
        });
    });
    });
    function isBase64Image(base64Image) {
        var regex = /^data:image\/(png|jpg|jpeg|gif|webp);base64,/;
        return regex.test(base64Image);
    }
    function loadClient(chatHub) {
        chatHub.client.receiveMessage = function (senderId, receiverUserId , message) {
         //Load lại tin nhắn
        console.log(2);
            //loadMessages(receiverUserId, senderId);
            var chatsection = $('.body_mess.open').find('.chat_section');
            if (isBase64Image(message)) {
                chatsection.append(`<div class="text text_user">
                    <img src="${message}" class = \"picture_css"\ alt="Ảnh" />
                </div>`);
                $(`.detail .${receiverUserId} p`).text("Picture");
            }
            else {
                chatsection.append(`<div class="text text_user">
                    <p class="color_user">${message}</p>
                </div>`);
                $(`.detail .${receiverUserId} p`).text(message);
            }

            if (!$(`.list_message .${senderId}`).first().hasClass('selected')) {
                $(`.list_message .${senderId}`).first().addClass('Unread');
            }
            chatSection = $(`.body_mess.open`);
            chatSection.scrollTop(chatSection.prop("scrollHeight"));
           // console.log("Tin nhắn từ " + senderId + ": " + message);
    };
}

    function loadMessages(senderId, receiverId) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMessages", "homeUser", new { area = "User" })",
            data: { senderId: senderId, receiverId: receiverId },
            success: function (data) {
                // Hiển thị tin nhắn
                console.log(data);
                $(`.list_body .body_mess.${receiverId}`).find('.chat_section').html('');
                $.each(data, function (i, message) {
                    $(`.list_body .body_mess.${receiverId}`).each(function () {
                        var chatsection = $(this).find('.chat_section');
                        var text = message.MessageContent;
                        var isSender = message.SenderID == senderId;

                        if (isBase64Image(text)) {
                            chatsection.append(`<div class="text ${isSender ? 'text_you' : 'text_user'}">
                                <img src="${text}" class = \"picture_css"\ alt="Ảnh" />
                            </div>`);
                        } else {
                            chatsection.append(`<div class="text ${isSender ? 'text_you' : 'text_user'}">
                                <p${!isSender ? ' class="color_user"' : ''}>${text}</p>
                            </div>`);
                        }
                    });
                });
                var chatSection = $(`.body_mess.open`);
                chatSection.scrollTop(chatSection.prop("scrollHeight"));
            }
        });
    }

    $('.list_message li').click(function () {
        var senderId = "@p_user.id"; // Thay bằng id của người gửi
        var receiverId = $('.body_mess.open').attr("class").split(" ")[2]; // Thay bằng id của người nhận
        loadMessages(senderId, receiverId);
    });



    $('#search_user').keypress(function (e) {
    if (e.which == 13) {
        var text = $(this).val().trim();
        // Mã hóa giá trị text trước khi gửi qua Ajax
        var encodedText = encodeURIComponent(text).toLowerCase();
        $.ajax({
            type: "GET",
            url: "@Url.Action("SearchUser", "homeUser", new { area = "User" })",
            data: { content: encodedText },
            success: function (data) {
                console.log(data);
            }
        });
    }
});





</script>
