
@{
    Layout = null;
}


@{
    PPl3.Models.property property = ViewBag.propertyFind;
    int i = 0;
    PPl3.Models.property_images[] list_images = property.property_images.ToArray();
    PPl3.Models.PPL3Entities db = new PPl3.Models.PPL3Entities();
    PPl3.Models.user p_user = (PPl3.Models.user)HttpContext.Current.Session["user"];
    int booking_id = -1;
    if (ViewBag.bookingId != null)
    {
        booking_id = ViewBag.bookingId;
    }
    PPl3.Models.properties_discounts[] list_discounts = property.properties_discounts.ToArray();
    decimal[] discount_values = new decimal[list_discounts.Length];
    for (int j = 0; j < list_discounts.Length; j++)
    {
        discount_values[j] = (decimal)list_discounts[j].discounts_value;
    }
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    var discountsJson = serializer.Serialize(discount_values);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T|.|N|.|T | Product Detail</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZf3I4TkruOraYvnm7WbRSU3qYV2Lkj3_0w3wfgQrApnsvo-yspjafW8P57Demy0zgf6U&usqp=CAU">
    <link href="~/ExtraFiles/assets/css/book_room.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/gird.css?v=2" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/style_v1.css?v=4" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/seller_profile.css?v=2" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/Sign_Log_v1.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/product.css?v=17" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="main">
        <div id="headerProduct">
            <div class="gird wide">
                <div class="row sm-gutter nav">
                    <div class="col l-2 m-2 c-2">
                        <div class="nav_logo">
                            <a href="/user/homeuser/index" class="logo_link">
                                <i class="fa-brands fa-think-peaks" style="color: #ff385c;"></i>
                                <h1>T|.|N|.|T</h1>
                            </a>
                        </div>
                    </div>

                    <div class="col l-6 m-6 c-4">
                        <div class="experience_list">
                            <button class="place_btn">Anywhere</button>
                            <span>|</span>
                            <button class="date_btn_in">Any week</button>
                            <span>|</span>
                            <button class="people_btn">Add Guests</button>
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>

                    <div class="col l-4 m-4 c-6 nav_menuUser">
                        <div class="nav_languages">
                            <a href="/user/homeuser/index">Airbnb your home</a>
                            <button><i class="fa-solid fa-globe"></i></button>
                        </div>
                        <div class="nav_login">
                            <button class="js_menuUser_btn"><i class="fa-solid fa-bars"></i></button>
                            @{
                                int countNoti = 0;
                                foreach (var item in db.user_notification.Where(tmp => tmp.userid == p_user.id && tmp.un_status == 0).ToList())
                                {
                                    countNoti++;
                                }
                            }
                            @if (p_user.user_profile.FirstOrDefault() != null && p_user.user_profile.FirstOrDefault().user_avatar != null)
                            {
                                <button class="js_menuUser_btn icon_style" style="background : url(@p_user.user_profile.FirstOrDefault().user_avatar) top center /cover no-repeat">
                                    @if (countNoti != 0)
                                    {
                                        <span class="notification_badge">@countNoti</span>
                                    }
                                    else
                                    {

                                        <span class="notification_badge" style="background-color:transparent"></span>
                                    }
                                </button>
                            }
                            else
                            {
                        <button class="js_menuUser_btn icon_style" style="background: url(https://cdn-icons-png.flaticon.com/512/552/552721.png) top center /cover no-repeat">
                            @*<i class="fa-solid fa-user"></i>*@
                            @if (countNoti != 0)
                            {
                                <span class="notification_badge">@countNoti</span>
                            }
                            else
                            {

                                <span class="notification_badge" style="background-color:transparent"></span>
                            }
                        </button>
                            }
                        </div>

                        <div class="success">

                        </div>
                        <div class="sub_nav sub_nav_guest js_sub_nav_guest">
                            <ul class="menu_user js_menu_user">
                                <li class=""><a href="/user/homeuser/chatuser">Messages</a></li>
                                <li class=""><a href="/user/homeuser/notification">Notifications</a></li>
                                <li class=""><a href="/user/homeuser/trip">Trip</a></li>
                                <li class=""><a href="/user/homeuser/wishlist">Wishlist</a></li>
                                <li><a href="/host/HomeHost/Listing">Manage listings</a></li>
                                <li><a href="/user/homeuser/profile?id=@p_user.id">Account</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li class="user_log_out"><a href="/user/homeuser/Logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="slider">
            <div class="gird wide">
                <div class="row no-gutter review_product">
                    <div class="col l-12 m-12 c-12">
                        <div class="name_product">
                            <h1>@property.p_name</h1>
                            <div class="btn_interact">
                                <button><i class="fa-solid fa-share"></i>Share</button>
                                <button><i class="fa-regular fa-heart"></i>Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col l-12 m-12 c-12">
                        <div class="container_review">
                            <div class="img_product">
                                <div class="img_product_big" style="background : url(@list_images[i].pi_image) top center /cover no-repeat">
                                </div>
                                @{
                                    i++;
                                }
                                <div class="list_img_small">
                                    <div class="img_product_small img_product_1" style="background : url(@list_images[i].pi_image) top center /cover no-repeat">
                                    </div>
                                    @{
                                        i++;
                                    }
                                    <div class="img_product_small img_product_2" style="background : url(@list_images[i].pi_image) top center /cover no-repeat">
                                    </div>
                                    @{
                                        i++;
                                    }
                                </div>
                                <div class="list_img_small">
                                    <div class="img_product_small img_product_3" style="background : url(@list_images[i].pi_image) top center /cover no-repeat">
                                    </div>
                                    @{
                                        i++;
                                    }
                                    <div class="img_product_small img_product_4" style="background : url(@list_images[i].pi_image) top center /cover no-repeat">
                                    </div>
                                    @{
                                        i++;
                                    }
                                </div>
                            </div>
                            <button class="show_more">Show More</button>
                        </div>
                    </div>
                    <div class="col l-8 m-8 c-12">
                        <div class="infor_hotel">
                            <div style="background : url(@property.property_type.icon_image) top center /cover no-repeat"></div>
                            <h1>@property.property_type.pt_name in @property.p_address</h1>
                            <span>@property.accomodates_count guests</span> - <span>@property.bedroom_count bedroom</span> - <span>@property.bed_count bed</span> - <span>@property.bathroom_count bathroom</span>
                            <!-- No Comment -->
                            <!-- <p><i class="fa-solid fa-star"></i>No reviews yet</p> -->
                            <!-- Comment -->
                            @{
                                double sum = 0;
                                foreach (var item in property.property_reviews)
                                {
                                    sum = sum + double.Parse(item.overall_rating);
                                }
                                sum = sum / property.property_reviews.ToArray().Length;
                            }
                            <p><i class="fa-solid fa-star"></i>@sum - <a>@property.property_reviews.ToArray().Length reviews</a></p>
                        </div>

                        <div class="seller_infor">
                            <div class="gird wide">
                                <div class="row no-gutter">
                                    <div class="col l-8 m-8 c-12 seller_infor_container">
                                        <div class="img_seller" style="background : url(@property.user.user_profile.ToList().FirstOrDefault().user_avatar) top center /cover no-repeat" onclick="window.location.href='/user/homeuser/profile?id=@property.user.id'">
                                        </div>
                                        <div class="infor">
                                            
                                            <span>@property.user.user_personalInfor.FirstOrDefault().legal_name</span>
                                            @{
                                                
                                                    int count = 0;
                                                    

                                                    if (DateTime.Now.ToString("yyyy") != property.user.day_become_host.Value.ToString("yyyy"))
                                                    {

                                                        count = int.Parse(DateTime.Now.ToString("yyyy")) - int.Parse(property.user.day_become_host.Value.ToString("yyyy"));
                                                        
                                                        <p>@count Years hosting</p>
                                                    }
                                                    else if (DateTime.Now.ToString("MM") != property.user.day_become_host.Value.ToString("MM"))
                                                    {
                                                        count = int.Parse(DateTime.Now.ToString("MM")) - int.Parse(property.user.day_become_host.Value.ToString("MM"));
                                                       
                                                        <p>@count Months hosting</p>
                                                    }
                                                    else
                                                    {
                                                        count = int.Parse(DateTime.Now.ToString("dd")) - int.Parse(property.user.day_become_host.Value.ToString("dd"));
                                                        
                                                        <p>@count Days hosting</p>
                                                    }
                                                
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="endow_hotel">
                            <div class="gird wide">
                                <div class="row no-gutter">
                                    @foreach (var item in property.property_amenities.ToList().Where(item => item.amenity.category_id == 3).ToList())
                                    {
                                        <div class="col l-12 m-12 c-12 endow_item endow_check_in">
                                            <i style="background : url(@item.amenity.icon_image) top center /cover no-repeat" class="icon_style"></i>
                                            <div class="endow_describe">
                                                <span>@item.amenity.amenity_name</span>
                                                <p>@item.amenity.description</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="about_hotel">
                            <div class="gird wide">
                                <div class="row no-gutter">
                                    <div class="col l-8 m-8 c-12 about_container">
                                        <span>@property.p_description</span>
                                        
                                    </div>
                                    <div class="col l-12 m-12 c-12 show_more_about">
                                        <button>Show more<i class="fa-solid fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="review_room">
                            <div class="gird wide">
                                <div class="row no-gutter room_container">
                                    <div class="col l-12 m-12 c-12 room_tittle">
                                        <h2>Where you'll sleep</h2>
                                    </div>
                                    @foreach (var item in property.property_amenities.Where(row => row.amenity.category_id == 38))
                                    {
                                        <div class="col l-4 m-8 c-12">
                                            <div class="img_bedroom" style="background : url(@item.pa_description) top center /cover no-repeat">
                                            </div>
                                            <span>@item.amenity.amenity_name</span>
                                           
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="place_offer">
                            <div class="gird wide">
                                <div class="row no-gutter offer_container">
                                    <div class="col l-12 m-12 c-12 offer_tittle">
                                        <h2>What this place offers</h2>
                                    </div>
                                    <div class="col l-4 m-12 c-12 offer_list">
                                        @{
                                            count = 1;
                                        }
                                        @foreach (var item in property.property_amenities.ToList())
                                        {
                                            if (count <= 3)
                                            {
                                                <div class="offer_item">
                                                    <i style="background : url(@item.amenity.icon_image) top center /cover no-repeat" class="icon_style"></i>
                                                    <span>@item.amenity.amenity_name</span>
                                                </div>
                                            }
                                            count++;
                                        }
                                      
                                    </div>
                                    <div class="col l-4 m-12 c-12 offer_list">
                                        @{
                                            count = 1;
                                        }
                                        @foreach (var item in property.property_amenities.ToList())
                                        {
                                            if (count > 3 && count <= 6)
                                            {
                                                <div class="offer_item">
                                                    <i style="background : url(@item.amenity.icon_image) top center /cover no-repeat" class="icon_style"></i>
                                                    <span>@item.amenity.amenity_name</span>
                                                </div>
                                            }
                                            count++;
                                        }
                                    </div>
                                    <div class="col l-12 m-12 c-12 show_all">
                                        <button>Show all @property.property_amenities.ToArray().Length amenities</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="date_check">
                            <div class="gird wide">
                                <div class="row no-gutter">
                                    <div class="col l-12 m-12 c-12 date_title">
                                        <h2>Select checkout date</h2>
                                        <p>Add your travel dates for exact pricing</p>
                                    </div>
                                    <div class="col l-12 m-12 c-12 light">
                                        <div class="calendar">
                                            <div class="calendar-header">
                                                <span class="month-picker" id="month-picker">February</span>
                                                <div class="year-picker">
                                                    <span class="year-change" id="prev-year">
                                                        <pre><</pre>
                                                    </span>
                                                    <span id="year">2024</span>
                                                    <span class="year-change" id="next-year">
                                                        <pre>></pre>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="calendar-body">
                                                <div class="calendar-week-day">
                                                    <div>Sun</div>
                                                    <div>Mon</div>
                                                    <div>Tue</div>
                                                    <div>Wed</div>
                                                    <div>Thu</div>
                                                    <div>Fri</div>
                                                    <div>Sat</div>
                                                </div>
                                                <div class="calendar-days"></div>
                                            </div>
                                            <div class="calendar-footer">
                                                <div class="clear_date_btn">
                                                    <a>Clear Date</a>
                                                </div>
                                            </div>
                                            <div class="month-list"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-4 m-4">
                        <div class="pay">
                            <div class="pay_container">
                                <div class="pay_header">
                                    <h1>Add dates for prices</h1>
                                </div>
                                <div class="pay_body">
                                    <div class="check_in_out">
                                        @if (db.bookings.Any(item => item.userId == p_user.id && item.property_id == property.id) && booking_id != -1)
                                        {
                                            <div class="check_in check_item">
                                                <button id="checkInButton">Check In</button>
                                                <span id="checkInDate">@db.bookings.Where(item => item.userId == p_user.id && item.property_id == property.id && item.id == booking_id).FirstOrDefault().check_in_date.Value.ToString("dd/MM/yyyy")</span>
                                            </div>
                                            <div class="check_out check_item">
                                                <button id="checkOutButton">Check Out</button>
                                                <span id="checkOutDate">@db.bookings.Where(item => item.userId == p_user.id && item.property_id == property.id && item.id == booking_id).FirstOrDefault().check_out_date.Value.ToString("dd/MM/yyyy")</span>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="check_in check_item">
                                                <button id="checkInButton">Check In</button>
                                                <span id="checkInDate">Add date</span>
                                            </div>
                                            <div class="check_out check_item">
                                                <button id="checkOutButton">Check Out</button>
                                                <span id="checkOutDate">Add date</span>
                                            </div>
                                        }


                                    </div>
                                    <div class="guest_number">
                                        @if (db.bookings.Any(item => item.userId == p_user.id && item.property_id == property.id) && booking_id != -1)
                                        {
                                            <div class="guest_btn">
                                                <div class="guest_item">
                                                    <button>Guests</button>
                                                    @{

                                                        string list_guests = "";
                                                        List<PPl3.Models.booking_guests> num_guests = db.booking_guests.Where(row => row.booking_id == booking_id).ToList();
                                                        int numAdults = num_guests.ElementAtOrDefault(0)?.num_guests ?? 0;
                                                        int numChilrens = num_guests.ElementAtOrDefault(1)?.num_guests ?? 0;
                                                        int numIfnats = num_guests.ElementAtOrDefault(2)?.num_guests ?? 0;
                                                        foreach (var item in num_guests)
                                                        {
                                                            list_guests = list_guests + item.num_guests + " " + item.guest_type.type_name + " " + "," + " ";
                                                        }
                                                        list_guests = list_guests.Substring(0, list_guests.Length - 2);
                                                        <p>@list_guests</p>
                                                    }
                                                </div>
                                                <div class="chevron">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </div>
                                            </div>
                                            <div class="guest_box">
                                                <div class="guest_box_item adult">
                                                    <span>Adults<p>Age 13+</p></span>
                                                    <div class="quantity_guest">
                                                        <button class="minus_btn minus_adults_btn"><i class="fa-solid fa-minus"></i></button>
                                                        <span class="number_adult">@numAdults</span>
                                                        <button class="plus_adults_btn"><i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="guest_box_item child">
                                                    <span>Children<p>Ages 2–12</p></span>
                                                    <div class="quantity_guest">
                                                        <button class="minus_btn minus_child_btn"><i class="fa-solid fa-minus"></i></button>
                                                        <span class="number_child">@numChilrens</span>
                                                        <button class="plus_child_btn"><i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="guest_box_item infants">
                                                    <span>Infants<p>Under 2</p></span>
                                                    <div class="quantity_guest">
                                                        <button class="minus_btn minus_infants_btn"><i class="fa-solid fa-minus"></i></button>
                                                        <span class="number_infants">@numIfnats</span>
                                                        <button class="plus_infants_btn"><i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="guest_btn">
                                                <div class="guest_item">
                                                    <button>Guests</button>
                                                    <p>1 Adults</p>
                                                </div>
                                                <div class="chevron">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </div>
                                            </div>
                                            <div class="guest_box">
                                                <div class="guest_box_item adult">
                                                    <span>Adults<p>Age 13+</p></span>
                                                    <div class="quantity_guest">
                                                        <button class="minus_btn minus_adults_btn"><i class="fa-solid fa-minus"></i></button>
                                                        <span class="number_adult">1</span>
                                                        <button class="plus_adults_btn"><i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="guest_box_item child">
                                                    <span>Children<p>Ages 2–12</p></span>
                                                    <div class="quantity_guest">
                                                        <button class="minus_btn minus_child_btn"><i class="fa-solid fa-minus"></i></button>
                                                        <span class="number_child">0</span>
                                                        <button class="plus_child_btn"><i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="guest_box_item infants">
                                                    <span>Infants<p>Under 2</p></span>
                                                    <div class="quantity_guest">
                                                        <button class="minus_btn minus_infants_btn"><i class="fa-solid fa-minus"></i></button>
                                                        <span class="number_infants">0</span>
                                                        <button class="plus_infants_btn"><i class="fa-solid fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                
                                @if(property.availability_type == 0) { 
                                    <div class="pay_footer disapearForever">
                                        <button>Reservation Expires</button>
                                    </div>
                                
                                }
                                else if(property.startDate > DateTime.Now) { 
                                    <div class="pay_footer disapearForever">
                                        <button>Reservations Not Yet Open</button>
                                    </div>
                                }
                                else if (db.bookings.Any(item => item.userId == p_user.id && item.property_id == property.id) && booking_id != -1)
                                {
                                
                                    <div class="pay_footer">
                                        <button id="checkAvailabilityButton" onclick="FixBookingHotel('@booking_id' , '@property.id' , '@property.accomodates_count')">Check Availability</button>
                                    </div>
                                   
                                    
                                }
                                else
                                {
                                    <div class="pay_footer disapear">
                                        <button id="checkAvailabilityButton" onclick="booking('@property.id' , '@property.accomodates_count')">Check Availability</button>
                                    </div>

                                }

                                <div class="total">
                                    <h2>Total: </h2>
                                    <div class="money_total">
                                        @* Sử lí discount cho từng trường hợp *@
                                        @{
                                            decimal price_hotel = (decimal)(property.price);
                                            if (property.bookings.Where(item => item.pay_status == 1).ToArray().Length < 3)
                                            {
                                                price_hotel = (decimal)(property.price * (100 - property.properties_discounts.FirstOrDefault().discounts_value)) / 100;
                                            }

                                        }
                                        @if (price_hotel == property.price)
                                        {
                                            if (booking_id != -1)
                                            {
                                                if (property.price != property.bookings.FirstOrDefault(item => item.id == booking_id).price_per_day)
                                                {
                                                    <h2 class="_1l85cgq">$@property.price</h2>
                                                    <h2 class="_1y74zjx money_hotel">$@property.bookings.FirstOrDefault(item => item.id == booking_id).price_per_day</h2>
                                                }
                                                else
                                                {
                                                    <h2 class="_1y74zjx money_hotel">$@price_hotel</h2>
                                                }
                                                
                                            }
                                            else { 
                                                <h2 class="_1y74zjx money_hotel">$@price_hotel</h2>
                                            }
                                            
                                        }
                                        else
                                        {
                                            <h2 class="_1l85cgq">$@property.price</h2>
                                            <h2 class="_1y74zjx money_hotel">$@price_hotel</h2>
                                        }

                                        <p>Night</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12 m-12 c-12 comment">

                        <div class="gird wide">
                            <div class="row no-gutter comment_list">
                                <div class="col l-12 m-12 c-12 review_yet">
                                    <h2><i class="fa-regular fa-solid fa-star"></i> @sum · @property.property_reviews.ToArray().Length reviews</h2>
                                </div>
                                @foreach (var item in property.property_reviews.ToList())
                                {
                                    if (item.pr_status == 1)
                                    {
                                        <div class="comment_item_detail comment_user_@item.review_by_user">
                                            <div class="header_comment">
                                                <div class="avatar" style="background : url(@item.user.user_profile.FirstOrDefault().user_avatar) top center /cover no-repeat" onclick="window.location.href='/user/homeuser/profile?id=@item.user.id'"></div>

                                                <div>
                                                    <span>@item.user.account_name</span>
                                                    @{

                                                        string uState = item.user.user_personalInfor.FirstOrDefault()?.country.states.FirstOrDefault().state_name ?? "???";
                                                        string countryName = item.user.user_personalInfor.FirstOrDefault()?.country.ct_name ?? "???";
                                                        string uCity = item.user.user_personalInfor.FirstOrDefault()?.country.states.FirstOrDefault().cities.FirstOrDefault().city_name ?? "???";
                                                    }
                                                    <p>@uCity ,  @uState , @countryName</p>
                                                </div>
                                            </div>
                                            <div class="time_comment">
                                                <div class="star_comment">
                                                    @{
                                                        for (int pos = 1; pos <= (int)double.Parse(item.overall_rating); ++pos)
                                                        {

                                                            <i class="fa-regular fa-solid fa-star"></i>
                                                        }
                                                        for (int pos = (int)double.Parse(item.overall_rating) + 1; pos <= 5; ++pos)
                                                        {
                                                            <i class="far fa-star gray-star"></i>
                                                        }
                                                    }

                                                </div>
                                                <span>2 weeks ago</span>
                                                <p>Stay Dates : @item.transaction.booking.check_in_date.Value.ToString("dd/MM/yyyy") - @item.transaction.booking.check_out_date.Value.ToString("dd/MM/yyyy")</p>
                                            </div>

                                            <div class="body_comment_detail">
                                                <p>@item.comment</p>
                                            </div>
                                        </div>

                                    }

                                }
                                <div class="col l-12 m-12 c-12 show_comment">
                                    <button>Show all @property.property_reviews.ToArray().Length review</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l-12 m-12 c-12">
                        <div class="profile_host">

                            <div class="infor_host gird wide">
                                <div class="row no-gutter">
                                    <div class="col l-12 m-12 c-12 meet_your_host">
                                        <h2>Meet your Host</h2>
                                    </div>
                                    <div class="infor_host_container">
                                        <div class="col l-5 m-12 c-12 information">
                                            <div class="homeowner_basics">
                                                <div class="review_host">
                                                    <img src="@property.user.user_profile.FirstOrDefault().user_avatar" alt="" onclick="window.location.href='/user/homeuser/profile?id=@property.user.id'">
                                                    <i class="fa-solid fa-shield"></i>
                                                    <h2>@property.user.user_personalInfor.FirstOrDefault().legal_name</h2>
                                                    <p>Host</p>
                                                </div>
                                                <div class="infor_basics">
                                                    <div class="infor_basics_item">

                                                        <span>@property.user.host_reviews.ToArray().Length</span>
                                                        <p>Review</p>
                                                    </div>
                                                    <div class="infor_basics_item">
                                                        @{
                                                            sum = 0;
                                                            foreach (var item in property.user.host_reviews.ToList())
                                                            {
                                                                sum = sum + double.Parse(item.rating);
                                                            }
                                                            sum = sum / property.user.host_reviews.ToArray().Length;
                                                        }
                                                        <span>@sum<i class="fa-solid fa-star"></i></span>
                                                        <p>Rating</p>
                                                    </div>
                                                    <div class="infor_basic">

                                                        @{
                                                            count = 0;

                                                            if (DateTime.Now.ToString("yyyy") != property.user.day_become_host.Value.ToString("yyyy"))
                                                            {

                                                                count = int.Parse(DateTime.Now.ToString("yyyy")) - int.Parse(property.user.day_become_host.Value.ToString("yyyy"));
                                                                <span>@count</span>
                                                                <p>Years hosting</p>
                                                            }
                                                            else if (DateTime.Now.ToString("MM") != property.user.day_become_host.Value.ToString("MM"))
                                                            {
                                                                count = int.Parse(DateTime.Now.ToString("MM")) - int.Parse(property.user.day_become_host.Value.ToString("MM"));
                                                                <span>@count</span>
                                                                <p>Months hosting</p>
                                                            }
                                                            else
                                                            {
                                                                count = int.Parse(DateTime.Now.ToString("dd")) - int.Parse(property.user.day_become_host.Value.ToString("dd"));
                                                                <span>@count</span>
                                                                <p>Days hosting</p>
                                                            }
                                                        }


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="skill_work">
                                                <span><i class="fa-solid fa-bag-shopping"></i>My work: @property.user.user_profile.FirstOrDefault().user_work</span>
                                                @{
                                                    string Languages = "";
                                                    int size = Languages.Length - 1;
                                                    foreach (var item in property.user.users_languages.ToList())
                                                    {
                                                        Languages = Languages + item.listLanguage.language_name + ",";
                                                    }
                                                    if (!string.IsNullOrEmpty(Languages) && Languages.EndsWith(","))

                                                    {

                                                        // Xóa dấu phẩy cuối cùng

                                                        Languages = Languages.Substring(0, Languages.Length - 1);

                                                    }
                                                }
                                                <span><i class="fa-solid fa-earth-europe"></i>Speaks @Languages</span>
                                            </div>

                                            <div class="describe">
                                                <p>@property.user.user_profile.FirstOrDefault().user_about</p>
                                            </div>
                                            <div class="show_more_homeowner">
                                                <button>Show more<i class="fa-solid fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="col l-7 m-12 c-12 information">
                                            <div class="evaluate_host">
                                                <div class="evaluate_item">
                                                    @if (property.user.user_profile.FirstOrDefault().is_super_host == 1)
                                                    {
                                                        <h2>@property.user.user_personalInfor.FirstOrDefault().legal_name is a Superhost</h2>
                                                    }
                                                    else
                                                    {
                                                        <h2>@property.user.user_personalInfor.FirstOrDefault().legal_name is not  a Superhost</h2>
                                                    }
                                                    <p>Superhosts are experienced, highly rated hosts who are committed to providing great stays for guests.</p>
                                                </div>
                                                <div class="evaluate_item">
                                                    <h2>Host details</h2>
                                                    <p>Response rate: 100%</p>
                                                    <p>Responds within an hour</p>
                                                </div>
                                                @if(property.userId != p_user.id) { 
                                                    <div class="evaluate_message_btn">
                                                        <button onclick="window.location.href = '/user/homeuser/addFriend?userID=@property.userId'">Message Host</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row no-gutter thing_list">
                                        <div class="col l-12 m-12 c-12 thing_tittle">
                                            <h2>Things to know</h2>
                                        </div>
                                        <div class="col l-4 m-6 c-12 thing_item  house_rules">
                                            <span>House rules</span>
                                            <p>Check-in after 4:00 PM</p>
                                            <p>Checkout before 11:00 AM</p>
                                            <p>4 guests maximum</p>
                                            <a href="#">Show more<i class="fa-solid fa-chevron-right"></i></a>
                                        </div>
                                        <div class="col l-4 m-6 c-12 thing_item safety_property">
                                            <span>Safety & property</span>
                                            <p>Pool/hot tub without a gate or lock</p>
                                            <p>May encounter potentially dangerous animal</p>
                                            <p>Carbon monoxide alarm</p>
                                            <a href="#">Show more<i class="fa-solid fa-chevron-right"></i></a>
                                        </div>
                                        <div class="col l-4 m-6 c-12 thing_item cancellation_policy">
                                            <span>Cancellation policy</span>
                                            <p>Free cancellation before Apr 7.</p>
                                            <p>Review the Host’s full cancellation policy which applies even if you cancel for illness or disruptions caused by COVID-19.</p>
                                            <a href="#">Show more<i class="fa-solid fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="gird wide">
                <div class="row no-gutter infor_contact_list">
                    <div class="col l-4 m-6 c-12 infor_contact_item support">
                        <span>Support</span>
                        <ul>
                            <li><a href="">Help Center</a></li>
                            <li><a href="">Get help with a safety issue</a></li>
                            <li><a href="">AirCover</a></li>
                            <li><a href="">Anti-discrimination</a></li>
                            <li><a href="">Disability support</a></li>
                            <li><a href="">Cancellation options</a></li>
                            <li><a href="">Report neighborhood concern</a></li>
                        </ul>
                    </div>
                    <div class="col l-4 m-6 c-12 infor_contact_item hosting">
                        <span>Hosting</span>
                        <ul>
                            <li><a href="">T|.|N|.|T your home</a></li>
                            <li><a href="">AirCover for Hosts</a></li>
                            <li><a href="">Hosting resources</a></li>
                            <li><a href="">Community forum</a></li>
                            <li><a href="">Hosting responsibly</a></li>
                            <li><a href="">T|.|N|.|T-friendly apartments</a></li>
                            <li><a href="">Join a free Hosting class</a></li>
                        </ul>
                    </div>
                    <div class="col l-4 m-6 c-12 infor_contact_item airbnb">
                        <span>T|.|N|.|T</span>
                        <ul>
                            <li><a href="">Newsroom</a></li>
                            <li><a href="">New features</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Investors</a></li>
                            <li><a href="">Gift cards</a></li>
                            <li><a href="">T|.|N|.|T.org emergency stays</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="about_hotel_detail">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-o-3 l-6 m-o-2 m-8 c-o-2 c-8 about_detail_container">
                        <div class="about_detail_tittle">
                            <h2>@property.p_name</h2>
                        </div>
                        <div class="about_box">
                            <div class="first_about">
                                <p>@property.p_description</p>
                            </div>
                            <div class="article_body">
                                <span>Location : </span>
                                <p>@property.p_address</p>
                            </div>
                            <div class="other">
                                <span>Other things to note : </span>
                                <p>- Country : @property.country.ct_name</p>
                                <p>- State : @property.state.state_name</p>
                                <p>- City : @property.city.city_name</p>
                                <p>- BedRoom : @property.bedroom_count</p>
                                <p>- Bed : @property.bed_count</p>
                                <p>- Accomodates : @property.accomodates_count guests</p>
                                <p>- Max_pet : @property.max_pets</p>
                                <p>- Prices : $@property.price</p>
                                <p>- Dates Bookings : @property.startDate.Value.ToString("dd/MM/yyyy") - @property.end_date.Value.ToString("dd/MM/yyyy") </p>
                            </div>
                            <div class="note">
                                <span>NOTE:</span>
                                <p>Minimum number of days for hotel rental is @property.minimum_stay days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="offer_detail">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-o-3 l-6 m-o-2 m-8 c-o-2 c-8 offer_detail_container">
                        <div class="offer_detail_tittle">
                            <h1>What this place offers</h1>
                        </div>
                        <div class="offer_box">
                            <div class="scenic_view">
                                <h2>Scenic views</h2>
                                <ul>
                                    <li>Mountain view</li>
                                </ul>
                            </div>
                            @foreach (var item in db.categories.ToList())
                            {
                                if (property.property_amenities.Any(row => (row.amenity.category_id == item.id) && (item.id != 1 && item.id != 3)))
                                {
                                    <div class="BathRoom_offer @item.id">
                                        <h2>@item.category_name</h2>
                                        <ul class="display_anitimy">

                                            @foreach (var antime in property.property_amenities.Where(row => (row.amenity.category_id == item.id)).ToList())
                                            {

                                                <li>
                                                    <i style="background : url(@antime.amenity.icon_image) top center /cover no-repeat" class="icon_style"></i> @antime.amenity.amenity_name
                                                </li>

                                            }

                                        </ul>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="comment_detail">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-o-2 l-8 m-o-1 m-10 c-o-1 c-10 comment_detail_container">
                        <div class="comment_detail_tittle">
                            <h2><i class="fa-regular fa-solid fa-star"></i> 4.84 · 55 reviews</h2>
                        </div>
                        <div class="comment_box">
                            @foreach (var item in property.property_reviews.ToList())
                            {
                                if (item.pr_status == 1)
                                {
                                    <div class="comment_item_detail comment_user_@item.review_by_user">
                                        <div class="header_comment">
                                            <div class="avatar" style="background : url(@item.user.user_profile.FirstOrDefault().user_avatar) top center /cover no-repeat" onclick="window.location.href='/user/homeuser/profile?id=@item.user.id'"></div>
                                            <div>
                                                <span>@item.user.account_name</span>
                                                @{

                                                    string uState = item.user.user_personalInfor.FirstOrDefault()?.country.states.FirstOrDefault().state_name ?? "???";
                                                    string countryName = item.user.user_personalInfor.FirstOrDefault()?.country.ct_name ?? "???";
                                                    string uCity = item.user.user_personalInfor.FirstOrDefault()?.country.states.FirstOrDefault().cities.FirstOrDefault().city_name ?? "???";

                                                }
                                                <p>@uCity ,  @uState , @countryName</p>
                                            </div>
                                        </div>
                                        <div class="time_comment">
                                            <div class="star_comment">
                                                @{
                                                    for (int pos = 1; pos <= (int)double.Parse(item.overall_rating); ++pos)
                                                    {

                                                        <i class="fa-regular fa-solid fa-star"></i>
                                                    }
                                                    for (int pos = (int)double.Parse(item.overall_rating) + 1; pos <= 5; ++pos)
                                                    {
                                                        <i class="far fa-star gray-star"></i>
                                                    }
                                                }

                                            </div>
                                            <span>2 weeks ago</span>
                                            <p>Stay Dates : @item.transaction.booking.check_in_date.Value.ToString("dd/MM/yyyy") - @item.transaction.booking.check_out_date.Value.ToString("dd/MM/yyyy")</p>
                                        </div>

                                        <div class="body_comment_detail">
                                            <p>@item.comment</p>
                                        </div>
                                    </div>

                                }

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ExtraFiles/JS/showAll.js?v=1"></script>
    <script src="~/ExtraFiles/JS/product.js?v=8"></script>
    @*<script src="~/ExtraFiles/JS/calendar.js?v=2"></script>*@

</body>
</html>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script>
    var priceHotel = $('.money_hotel').text();
    priceHotel = priceHotel.substring(1, priceHotel.length);
    var discounts = JSON.parse('@Html.Raw(discountsJson)');
    var propertyPrice = @Json.Encode(property.price);
    var booking_count = @Json.Encode(property.bookings.ToArray().Length);
    console.log(discounts);
    console.log(priceHotel);
    function booking(hotelId , hotelGuest) {
        $(document).ready(function () {
            function isValidDate(dateString) {
                var regEx = /^\d{4}-\d{2}-\d{2}$/;
                if (!dateString.match(regEx)) return false;  // Kiểm tra định dạng ngày-tháng (YYYY-MM-DD)
                var d = new Date(dateString);
                var dNum = d.getTime();
                if (!dNum && dNum !== 0) return false; // Kiểm tra có phải là ngày hợp lệ không
                return d.toISOString().slice(0, 10) === dateString;
            }
            var guest_count1 = [];
            var numberGuest = $('.guest_item p').text();
            var checkInDate1 = $('#checkInDate').text();
            var checkOutDate1 = $('#checkOutDate').text();
            var correctFormDateIn = "";
            var correctFormDateOut = "";
            var hotelGusestCount = 0;
            checkInDate1.split("/").forEach(function (item) {
                correctFormDateIn = item + "-" + correctFormDateIn;
            })
            checkOutDate1.split("/").forEach(function (item) {
                correctFormDateOut = item + "-" + correctFormDateOut;
            })
            correctFormDateIn = correctFormDateIn.substring(0, correctFormDateIn.length - 1);
            correctFormDateOut = correctFormDateOut.substring(0, correctFormDateOut.length - 1);
            numberGuest.toString().split(",").forEach(function (item) {
                guest_count1.push(item.trim().split(" ")[0]);
                hotelGusestCount += parseInt(item.trim().split(" ")[0]);

            })
            if (hotelGusestCount > hotelGuest) {
                alert("Please book less than or equal to the number of people staying at the hotel !");
                return;
            }
            console.log(correctFormDateIn);
            console.log(correctFormDateOut);
            if (isValidDate(correctFormDateIn) && isValidDate(correctFormDateOut)) {
                console.log(1);
                var data = {
                    id: hotelId,
                    checkBook: true,
                    checkInDate: correctFormDateIn,
                    checkOutDate: correctFormDateOut,
                    guest_count: guest_count1,
                    price_hotel: priceHotel
                };
                $.ajax({
                    url: "/user/homeuser/payHotel",
                    type: "POST",
                    data: data,
                    success: function (data) {
                        if (data.success == "true") {
                            console.log(data);
                            window.location.href = data.redirectUrl;
                        }
                        else if (data.success == "error1") {
                            alert("The date you booked is invalid");
                        }
                        else if (data.success == "error2") {
                            alert("You can only book for 2 consecutive months");
                        }
                       

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
            else {
                console.log(0);
            }
        })

    }


    function FixBookingHotel(bookingId, id , hotelGuest) {
          $(document).ready(function () {
        function isValidDate(dateString) {
            var regEx = /^\d{4}-\d{2}-\d{2}$/;
            if (!dateString.match(regEx)) return false;  // Kiểm tra định dạng ngày-tháng (YYYY-MM-DD)
            var d = new Date(dateString);
            var dNum = d.getTime();
            if (!dNum && dNum !== 0) return false; // Kiểm tra có phải là ngày hợp lệ không
            return d.toISOString().slice(0, 10) === dateString;
        }
        var guest_count1 = [];
        var numberGuest = $('.guest_item p').text();
        var checkInDate1 = $('#checkInDate').text();
        var checkOutDate1 = $('#checkOutDate').text();
        var correctFormDateIn = "";
        var correctFormDateOut = "";
        var hotelGusestCount = 0;
        checkInDate1.split("/").forEach(function (item) {
            correctFormDateIn = item + "-" + correctFormDateIn;
        })
        checkOutDate1.split("/").forEach(function (item) {
            correctFormDateOut = item + "-" + correctFormDateOut;
        })
        correctFormDateIn = correctFormDateIn.substring(0, correctFormDateIn.length - 1);
        correctFormDateOut = correctFormDateOut.substring(0, correctFormDateOut.length - 1);
        numberGuest.toString().split(",").forEach(function (item) {
            guest_count1.push(item.trim().split(" ")[0]);
            hotelGusestCount += parseInt(item.trim().split(" ")[0]);
        })
              if (hotelGusestCount > hotelGuest) {
                  alert("Please book less than or equal to the number of people staying at the hotel !");
                  return;
              }
        if (isValidDate(correctFormDateIn) && isValidDate(correctFormDateOut)) {
            console.log(1);
            var data = {
                hotelId: id,
                checkBook: true,
                check_in_date: correctFormDateIn,
                check_out_date: correctFormDateOut,
                guest_count: guest_count1,
                bookingId: bookingId,
                price_hotel: priceHotel
            };
            $.ajax({
                url: "/user/homeuser/FixBookingHotel",
                type: "POST",
                data: data,
                success: function (data) {
                    if (data == "error1") {
                        alert("The date you booked is invalid");
                    }
                    else if (data == "error2") {
                        alert("You can only book for 2 consecutive months");
                    }
                    else if (data == "error3") {
                        alert("that day the hotel was booked");
                    }
                    else {
                       
                        console.log(data);
                        window.location.href = data.redirectUrl;

                    }
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        else {
            console.log(0);
        }
          })

    }
</script>


<script>

    $(document).ready(function () {
    let calendar = $('.calendar');
    let checkIn = $('.check_in span');
    let checkOut = $('.check_out span');
    const monthPicker = calendar.find('#month-picker');
    let currentDay = 0;
    var data = @Html.Raw(Json.Encode(ViewBag.dataJson).Replace("'", "\'"));
    data = data.substring(1, data.length - 1);
    let dayChecked = [];
    $.each(data.split(","), function (index, value) {
        dayChecked.push(value);
    });
    console.log(dayChecked);

    const month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

    isLeapYear = (year) => {
        return (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);
    };

    getFebDays = (year) => {
        return isLeapYear(year) ? 29 : 28;
    };

    generateCalendar = (month, year) => {
        let calendar_days = calendar.find('.calendar-days');
        let calendar_header_year = calendar.find('#year');
        let days_of_month = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

        calendar_days.html('');

        let currDate = new Date();
        if (!year) year = currDate.getFullYear();

        let curr_month = month_names[month];
        monthPicker.html(curr_month);
        calendar_header_year.html(year);

        let first_day = new Date(year, month, 1);

        let dayCheckIn = 0;
        let monthCheckIn = 0;
        let yearCheckIn = 0;
        let dayCheckOut = 0;
        let monthCheckOut = 0;
        let yearCheckOut = 0;

        for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
            const day = $('<div></div>');
            if (i >= first_day.getDay()) {
                day.addClass('calendar-day-hover');
                day.html(i - first_day.getDay() + 1);
                day.append('<span></span><span></span><span></span><span></span>');

                day.on('click', () => {
                    currentDay++;
                    if (currentDay <= 2) {
                        if (currentDay == 1) {
                            day.addClass('curr-date');
                            dayCheckIn = parseInt(day.text());
                            monthCheckIn = month + 1;
                            yearCheckIn = year;
                            if (month + 1 >= 10) {
                                if (day.text() >= 10) {
                                    checkIn.html(`${day.text()}/${month + 1}/${year}`);
                                } else {
                                    checkIn.html(`0${day.text()}/${month + 1}/${year}`);
                                }
                            } else {
                                if (day.text() >= 10) {
                                    checkIn.html(`${day.text()}/0${month + 1}/${year}`);
                                } else {
                                    checkIn.html(`0${day.text()}/0${month + 1}/${year}`);
                                }
                            }
                            let daysBeforeCheckIn = calendar.find('.calendar-days div');
                            for (let j = 0; j < i; j++) {
                                daysBeforeCheckIn.eq(j).addClass('before-check-in');
                            }
                            for (let j = i + 10; j <= days_of_month[month] + first_day.getDay() - 1; j++) {
                                daysBeforeCheckIn.eq(j).addClass('before-check-in');
                            }
                        } else if (currentDay == 2) {
                            dayCheckOut = parseInt(day.text());
                            monthCheckOut = month + 1;
                            yearCheckOut = year;
                            if ((yearCheckIn <= yearCheckOut && monthCheckIn < monthCheckOut) || (yearCheckIn <= yearCheckOut && monthCheckIn == monthCheckOut && dayCheckIn < dayCheckOut) && (yearCheckIn <= yearCheckOut && monthCheckIn == monthCheckOut && (dayCheckOut - dayCheckIn) <= 10)) {
                                day.addClass('curr-date');
                                if (month + 1 >= 10) {
                                    if (day.text() >= 10) {
                                        checkOut.html(`${day.text()}/${month + 1}/${year}`);
                                    } else {
                                        checkOut.html(`0${day.text()}/${month + 1}/${year}`);
                                    }
                                } else {
                                    if (day.text() >= 10) {
                                        checkOut.html(`${day.text()}/0${month + 1}/${year}`);
                                    } else {
                                        checkOut.html(`0${day.text()}/0${month + 1}/${year}`);
                                    }
                                }
                            } else {
                                currentDay = 1;
                            }
                        }
                    } else {
                        calendar.find('.calendar-days div').removeClass('curr-date');
                        let daysBeforeCheckIn = calendar.find('.calendar-days div');
                        for (let j = 0; j <= days_of_month[month] + first_day.getDay() - 1; j++) {
                            daysBeforeCheckIn.eq(j).removeClass('before-check-in');
                        }
                        currentDay = 0;
                        checkOut.html('Add date');
                    }
                });
            }
            calendar_days.append(day);
        }

        $.each(dayChecked, function (index, range) {
            let [start, end] = range.split('-');
            let [startDay, startMonth, startYear] = start.split('/').map(Number);
            let [endDay, endMonth, endYear] = end.split('/').map(Number);
            console.log(startMonth + "-" + month + "," + startYear + "-" + year);
            if ((startMonth - 1 === month && startYear === year) || (endMonth - 1 === month && endYear === year)) {
                const startDate = new Date(startYear, startMonth - 1, startDay);
                const endDate = new Date(endYear, endMonth - 1, endDay);

                if (startMonth === endMonth) {

                    for (let date = startDate; date <= endDate; date.setDate(date.getDate() + 1)) {
                        let dayIndex = date.getDate() + first_day.getDay() - 1;

                        if (dayIndex >= 0 && dayIndex < days_of_month[month] + first_day.getDay()) {

                            calendar_days.children().eq(dayIndex).addClass('checked');
                        }
                    }
                } else if (startMonth !== endMonth) {
                    let nextMonthFirstDay = new Date(startYear, startMonth, 1);
                    let lastDayOfMonth = new Date(nextMonthFirstDay - 1);

                    for (let date = startDate; date <= lastDayOfMonth; date.setDate(date.getDate() + 1)) {
                        let dayIndex = date.getDate() + first_day.getDay() - 1;

                        if (dayIndex >= 0 && dayIndex < days_of_month[month] + first_day.getDay() && startMonth === month + 1) {
                            calendar_days.children().eq(dayIndex).addClass('checked');
                        }
                    }

                    for (let date = nextMonthFirstDay; date <= endDate; date.setDate(date.getDate() + 1)) {
                        let dayIndex = date.getDate() + first_day.getDay() - 1;

                        if (dayIndex >= 0 && dayIndex < days_of_month[month] + first_day.getDay() && endMonth === month + 1) {
                            calendar_days.children().eq(dayIndex).addClass('checked');
                        }
                    }
                }
            }
        });

        let clearDate = $('.clear_date_btn');

        clearDate.on('click', () => {
            calendar.find('.calendar-days div').removeClass('curr-date');
            let daysBeforeCheckIn = calendar.find('.calendar-days div');
            for (let j = 0; j <= days_of_month[month] + first_day.getDay() - 1; j++) {
                daysBeforeCheckIn.eq(j).removeClass('before-check-in');
            }
            currentDay = 0;
            checkOut.html('Add date');
        });
    };

    let month_list = calendar.find('.month-list');

    month_names.forEach((e, index) => {
        let month = $('<div></div>');
        month.html(`<div data-month="${index}">${e}</div>`);
        month.find('div').on('click', () => {
            month_list.removeClass('show');
            curr_month.value = index;
            generateCalendar(index, curr_year.value);
        });
        month_list.append(month);
    });

    let month_picker = calendar.find('#month-picker');

    month_picker.on('click', () => {
        month_list.addClass('show');
    });

    let currDate = new Date();

    let curr_month = { value: currDate.getMonth() };
    let curr_year = { value: currDate.getFullYear() };
    generateCalendar(curr_month.value, curr_year.value);
    let currTemp = { value: 0 };

    $('#prev-year').on('click', () => {
        currentDay = 0;
        if (currTemp.value > currDate.getFullYear()) {
            --curr_year.value;
        }
        generateCalendar(curr_month.value, curr_year.value);
    });

    $('#next-year').on('click', () => {
        currentDay = 0;
        ++curr_year.value;
        currTemp.value = curr_year.value;
        generateCalendar(curr_month.value, curr_year.value);
    });

    $('#prev-month').on('click', () => {
        currentDay = 0;
        if (curr_month.value > 0) {
            curr_month.value--;
        } else {
            curr_month.value = 11;
            curr_year.value--;
        }
        generateCalendar(curr_month.value, curr_year.value);
    });

    $('#next-month').on('click', () => {
        currentDay = 0;
        if (curr_month.value < 11) {
            curr_month.value++;
        } else {
            curr_month.value = 0;
            curr_year.value++;
        }
        generateCalendar(curr_month.value, curr_year.value);
    });
});


</script>


