
@{
    Layout = null;
}

@{
    PPl3.Models.PPL3Entities db = new PPl3.Models.PPL3Entities();
    PPl3.Models.user p_user = (PPl3.Models.user)HttpContext.Current.Session["user"];
    int pos = 0;
    string tmpBD;
    PPl3.Models.user_profile profile = new PPl3.Models.user_profile();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/ExtraFiles/assets/css/editProfile.css">
    <link rel="stylesheet" href="~/ExtraFiles/assets/css/gird.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="main">
        <div id="header">
            <div class="gird wide">
                <div class="row no-gutter nav">
                    <div class="nav_logo">
                        <div class="nav_logo">
                            <a href="/user/homeuser/index" class="logo_link">
                                <i class="fa-brands fa-think-peaks" style="color: #ff385c;"></i>
                                <h1>T|.|N|.|T</h1>
                            </a>
                        </div>
                    </div>
                    <div class="nav_menu">
                        <div class="nav_languages">
                            <a href="">Switch To Hosting</a>
                            <button><i class="fa-solid fa-globe"></i></button>
                        </div>
                        <div class="nav_login">
                            <button class="js_menuUser_btn"><i class="fa-solid fa-bars"></i></button>
                            @if (p_user.user_profile.FirstOrDefault() != null)
                            {
                                <button class="js_menuUser_btn icon_style" style="background : url(@p_user.user_profile.FirstOrDefault().user_avatar) top center /cover no-repeat"></button>
                                profile = p_user.user_profile.FirstOrDefault();
                            }
                            else
                            {
                                <button class="js_menuUser_btn">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                            }
                        </div>

                        <div class="sub_nav sub_nav_user js_sub_nav_user">
                            <ul class="menu_user js_menu_user">
                                <li class=""><button>Messages</button></li>
                                <li class=""><button>Notifications</button></li>
                                <li class=""><a href="/user/homeuser/trip">Trip</a></li>
                                <li class=""><a href="/user/homeuser/wishlist">Wishlist</a></li>
                                <li><a href="Content">Manage listings</a></li>
                                <li><a href="/user/homeuser/editprofile">Account</a></li>
                                <li><a href="#">Gift Cards</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li class="user_log_out"><a href="/user/homeuser/Logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="/user/homeuser/editprofile" method="post">
            <div id="content">
                <div class="gird wide">
                    <div class="row no-gutter">
                        <div class="col l-4 m-12 c-12 center">
                            @if (profile.user_avatar != null)
                            {
                                <div class="img_profile"
                                     style="background : url(@profile.user_avatar) top center /cover no-repeat">
                                    <div class="add_img">
                                        <input type="file"
                                               accept=".jpg, .png"
                                               id="file_upload"
                                               name="user_profile.user_avatar"
                                               hidden>
                                        <button type="button" class="add_img_btn"><i class="fa-solid fa-camera"></i> Add</button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="img_profile">
                                    <div class="add_img">
                                        <input type="file"
                                               accept=".jpg, .png"
                                               id="file_upload"
                                               name="user_profile.user_avatar"
                                               hidden>
                                        <button type="button" class="add_img_btn"><i class="fa-solid fa-camera"></i> Add</button>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="col l-8 m-12 c-12">
                            <div class="tittle">
                                <h1>Your profile</h1>
                                <p>The information you share will be used across Airbnb to help other guests and Hosts get to know you. <a href=""> Learn more</a></p>
                            </div>
                            <div class="infor_list">
                                <div class="infor_container">
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-graduation-cap"></i>Where I went to school:</p>
                                        <input type="text"
                                               id="user_school"
                                               name="user_profile.user_school"
                                               placeholder="Write something..."
                                               value="@profile.user_school">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-earth-europe"></i>Where I live:</p>
                                        <input type="text"
                                               placeholder="Write something...">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-golf-ball-tee"></i>BirthDay:</p>
                                        @{
                                            tmpBD = "";
                                            if (profile.user_birthday != null)
                                            {
                                                tmpBD = profile.user_birthday.Value.ToString("yyyy-MM-dd");
                                            }
                                        }
                                        <input type="date"
                                               id="My birthday"
                                               name="user_profile.user_birthday"
                                               placeholder="Write something..."
                                               value="@tmpBD">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-regular fa-heart"></i>I'm obsessed with:</p>
                                        <input type="text"
                                               id="user_obsessed_with"
                                               name="user_profile.user_obsessed_with"
                                               placeholder="Write something..."
                                               value="@profile.user_obsessed_with">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-wand-magic-sparkles"></i>My most useless skill:</p>
                                        <input type="text"
                                               id="user_unless_skill"
                                               name="user_profile.user_unless_skill"
                                               placeholder="Write something..."
                                               value="@profile.user_unless_skill">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-regular fa-clock"></i>I spend too much time:</p>
                                        <input type="text"
                                               id="user_time_spend"
                                               name="user_profile.user_time_spend"
                                               placeholder="Write something..."
                                               value="@profile.user_time_spend">
                                    </div>
                                </div>
                                <div class="infor_container">
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-briefcase"></i>My work:</p>
                                        <input type="text"
                                               id="user_work"
                                               name="user_profile.user_work"
                                               placeholder="Write something..."
                                               value="@profile.user_work">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-globe"></i>Languages I speak:</p>
                                        @{
                                            tmpBD = "";
                                            pos = 0;
                                            foreach (var item in p_user.users_languages.ToList())
                                            {
                                                if (pos == 0)
                                                {
                                                    tmpBD = tmpBD + item.listLanguage.language_name;
                                                }
                                                else
                                                {
                                                    tmpBD = tmpBD + ", " + item.listLanguage.language_name;
                                                }
                                                pos++;
                                            }
                                        }
                                        <input type="text"
                                               placeholder="Write something..."
                                               value="@tmpBD">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-music"></i>My favorite song in hight school:</p>
                                        <input type="text"
                                               id="user_favourite_song"
                                               name="user_profile.user_favourite_song"
                                               placeholder="Write something..."
                                               value="@profile.user_favourite_song">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-regular fa-lightbulb"></i>My fun fact:</p>
                                        <input type="text"
                                               id="user_fun_fact"
                                               name="user_profile.user_fun_fact"
                                               placeholder="Write something..."
                                               value="@profile.user_fun_fact">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-book-open"></i>My biography title would be:</p>
                                        <input type="text"
                                               id="user_biography_title"
                                               name="user_profile.user_biography_title"
                                               placeholder="Write something..."
                                               value="@profile.user_biography_title">
                                    </div>
                                    <div class="infor_item">
                                        <p><i class="fa-solid fa-paw"></i>Pets:</p>
                                        <input type="text"
                                               id="user_pets"
                                               name="user_profile.user_pets"
                                               placeholder="Write something..."
                                               value="@profile.user_pets">
                                    </div>
                                </div>
                            </div>
                            <div class="about_you">
                                <div class="tittle">
                                    <h1>About you</h1>
                                </div>
                                <div class="add_intro">
                                    @{
                                        tmpBD = "";
                                        if (profile.user_about != null)
                                        {
                                            tmpBD = profile.user_about;
                                        }
                                        else
                                        {
                                            tmpBD = "Write something fun and punchy...";
                                        }
                                    }
                                    <textarea id="user_about"
                                              name="user_profile.user_about"
                                              cols="30" rows="5">@tmpBD</textarea>
                                </div>
                            </div>

                            <div class="interest">
                                <div class="tittle_sub">
                                    <span>What you’re into</span>
                                    <p>Find common ground with other guests and Hosts by adding interests to your profile.</p>
                                </div>
                                <div class="list_button_add">
                                    <button type="button" class="add_inter_btn"><i class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="add_inter_btn"><i class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="add_inter_btn"><i class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="add_inter_btn"><i class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="add_inter_btn"><i class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="add_inter_btn"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>

                            <div class="place_went">
                                <div class="container">
                                    <div class="tittle_sub">
                                        <span>Where you’ve been</span>
                                        <p>Choose whether other people can see all the places you’ve been on Airbnb.</p>
                                    </div>
                                    <div class="open_btn">
                                        <button type="button"><i class="fa-solid fa-check"></i></button>
                                    </div>
                                </div>
                                <div class="container">
                                    @foreach (var item in p_user.bookings.ToList())
                                    {
                                        <div class="place"
                                             style="background : url(@item.property.property_images.FirstOrDefault().pi_image) top center /cover no-repeat"
                                             onclick="window.location.href = '/user/homeuser/detail?id=@item.property_id'">
                                            <p>@item.booking_date.Value.ToString("yyyy")</p>
                                        </div>
                                    }


                                </div>
                            </div>

                            <div class="done_btn">
                                <button type="submit">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div id="footer">
            <div class="gird wide">
                <div class="row no-gutter infor_contact_list">
                    <div class="col l-4 m-6 c-12 infor_contact_item support">
                        <span>Support</span>
                        <ul>
                            <li><a href="">Help Center</a></li>
                            <li><a href="">Get help with a safety issue</a></li>
                            <li><a href="">AirCover</a></li>
                            <li><a href="">Anti-discrimination</a></li>
                            <li><a href="">Disability support</a></li>
                            <li><a href="">Cancellation options</a></li>
                            <li><a href="">Report neighborhood concern</a></li>
                        </ul>
                    </div>
                    <div class="col l-4 m-6 c-12 infor_contact_item hosting">
                        <span>Hosting</span>
                        <ul>
                            <li><a href="">T|.|N|.|T your home</a></li>
                            <li><a href="">AirCover for Hosts</a></li>
                            <li><a href="">Hosting resources</a></li>
                            <li><a href="">Community forum</a></li>
                            <li><a href="">Hosting responsibly</a></li>
                            <li><a href="">T|.|N|.|T-friendly apartments</a></li>
                            <li><a href="">Join a free Hosting class</a></li>
                        </ul>
                    </div>
                    <div class="col l-4 m-6 c-12 infor_contact_item airbnb">
                        <span>T|.|N|.|T</span>
                        <ul>
                            <li><a href="">Newsroom</a></li>
                            <li><a href="">New features</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Investors</a></li>
                            <li><a href="">Gift cards</a></li>
                            <li><a href="">T|.|N|.|T.org emergency stays</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="interest_menu">
            <div class="gird wide">
                <div class="row no-gutter interest_box">
                    <div class="col l-8 m-8 c-8">
                        <div class="interest_container">
                            <div class="list_box">

                                <div class="tittle_inter">
                                    <h2>What are you into?</h2>
                                    <p>Pick up to 7 interests or sports you enjoy that you want to show on your profile.</p>
                                </div>

                                <div class="tittle_sub_inter">
                                    <p>Interests</p>
                                </div>
                                <ul class="interest_list">
                                    <li><button><i class="fa-solid fa-paw"></i>Animals</button></li>
                                    <li><button><i class="fa-solid fa-utensils"></i>Cooking</button></li>
                                    <li><button><i class="fa-solid fa-bowl-rice"></i>Food</button></li>
                                    <li><button><i class="fa-solid fa-person-hiking"></i>Outdoors</button></li>
                                    <li><button><i class="fa-solid fa-gamepad"></i>Video Games</button></li>
                                    <li><button><i class="fa-solid fa-book-bookmark"></i>Books</button></li>
                                    <li><button><i class="fa-solid fa-book-bookmark"></i>Museums</button></li>
                                    <li><button><i class="fa-solid fa-clapperboard"></i>Movies</button></li>
                                    <li><button><i class="fa-solid fa-suitcase"></i>Travel</button></li>
                                    <li><button><i class="fa-solid fa-chess"></i>Board game</button></li>
                                    <li><button><i class="fa-solid fa-person-walking"></i>Walking</button></li>
                                    <li><button><i class="fa-solid fa-microchip"></i>Technology</button></li>
                                    <li><button><i class="fa-solid fa-spa"></i>Spa</button></li>
                                    <li><button><i class="fa-solid fa-basket-shopping"></i>Shopping</button></li>
                                    <li><button><i class="fa-solid fa-camera-retro"></i>Photography</button></li>
                                    <li><button><i class="fa-solid fa-microphone"></i>Podcasts</button></li>
                                    <li><button><i class="fa-solid fa-headphones"></i>Music</button></li>
                                    <li><button><i class="fa-solid fa-palette"></i>Art</button></li>
                                </ul>

                                <div class="tittle_sub_inter">
                                    <p>Sports</p>
                                </div>
                                <ul class="interest_list">
                                    <li><button><i class="fa-solid fa-baseball"></i>Baseball</button></li>
                                    <li><button><i class="fa-solid fa-bicycle"></i>Cycling</button></li>
                                    <li><button><i class="fa-solid fa-dumbbell"></i>Weight lifting</button></li>
                                    <li><button><i class="fa-solid fa-person-snowboarding"></i>Figue skating</button></li>
                                    <li><button><i class="fa-solid fa-futbol"></i>Football</button></li>
                                    <li><button><i class="fa-solid fa-football"></i>America football</button></li>
                                    <li><button><i class="fa-solid fa-motorcycle"></i>Motor sporting</button></li>
                                    <li><button><i class="fa-solid fa-bowling-ball"></i>Bowling</button></li>
                                    <li><button><i class="fa-solid fa-volleyball"></i>Volleyball</button></li>
                                    <li><button><i class="fa-solid fa-table-tennis-paddle-ball"></i>Table tennis</button></li>
                                    <li><button><i class="fa-solid fa-golf-ball-tee"></i>Golf</button></li>
                                    <li><button><i class="fa-solid fa-fish"></i>Fishing</button></li>
                                    <li><button><i class="fa-solid fa-hockey-puck"></i>Hockey</button></li>
                                    <li><button><i class="fa-solid fa-horse"></i>Horse racing</button></li>
                                    <li><button><i class="fa-solid fa-person-running"></i>Running</button></li>
                                    <li><button><i class="fa-solid fa-person-swimming"></i>Swimming</button></li>
                                    <li><button><i class="fa-solid fa-person-skiing"></i>Skiing</button></li>
                                    <li><button><i class="fa-solid fa-person-hiking"></i>Hiking</button></li>
                                </ul>
                            </div>
                            <div class="save">
                                <div class="quantity">
                                    <p class="number">0/7 selected</p>
                                    <p>Your selections will appear here</p>
                                </div>
                                <div class="save_btn">
                                    <button>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/ExtraFiles/JS/editProfile.js"></script>
    <script src="~/ExtraFiles/JS/upLoadImg.js"></script>
</body>
</html>