@model List<PPl3.Models.property>
@{
    Layout = null;
}

@{
    PPl3.Models.PPL3Entities db = new PPl3.Models.PPL3Entities();
    PPl3.Models.user p_user = (PPl3.Models.user)HttpContext.Current.Session["user"];
    int position = 0;
    double count = 0;
}

@{
    List<PPl3.Models.host_reviews> listUserReview = db.host_reviews.Where(item => item.hostid == p_user.id).ToList();
}



@{
    List<PPl3.Models.booking> listUserCurrent = new List<PPl3.Models.booking>();
    DateTime currentDate = DateTime.Now;
    List<PPl3.Models.booking> listUserBooking = new List<PPl3.Models.booking>();
    foreach (PPl3.Models.property item in Model)
    {
        foreach (var tmp in item.bookings.ToList())
        {
            listUserBooking.Add(tmp);
            if (currentDate >= tmp.check_in_date && currentDate <= tmp.check_out_date && tmp.transaction_id != null)
            {
                listUserCurrent.Add(tmp);
            }
        }
    }
}

@{
    List<PPl3.Models.user_notification> uns = db.user_notification.Where(item => item.userid == p_user.id).ToList();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/ExtraFiles/assets/css/gird.css">
    <link rel="stylesheet" href="~/ExtraFiles/assets/css/revenue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        .hide {
            display: none;
        }
    </style>
    <title>Revenue</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZf3I4TkruOraYvnm7WbRSU3qYV2Lkj3_0w3wfgQrApnsvo-yspjafW8P57Demy0zgf6U&usqp=CAU">
</head>
<body>
    <div class="main">
        <div id="header">
            <div class="gird wide">
                <div class="row no-gutter nav">
                    <div class="col l-12 m-12 c-12">
                        <div class="nav_container">
                            <div class="menu_btn" onclick="window.location.href = '/user/homeuser/index'">
                                <button><i class="fa-brands fa-think-peaks" style="color: rgba(235, 22, 22, .7); font-size: 35px;"></i></button>
                            </div>
                            <div class="btn_list">
                                <div class="btn_item">
                                    <button class="btn_mess">
                                        @{
                                            var mess = db.Messages.Where(tmp => tmp.ReceiverID == p_user.id).ToList();
                                            if (mess.Count == 0)
                                            {
                                                <i class="fa-solid fa-envelope"></i>
                                                <div class="number_alert hide">
                                                    <p>@mess.Count</p>
                                                </div>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-envelope"></i>
                                                <div class="number_alert">
                                                    <p>@mess.Count</p>
                                                </div>
                                            }
                                        }
                                    </button>
                                    <span>message</span>
                                    <div class="modal mess">
                                        <ul class="modal_box">
                                            @{
                                                position = 0;
                                                string tmpname = "";
                                                foreach (var item in mess)
                                                {
                                                    position++;
                                                    if (position == 5) { break; }
                                                    tmpname = db.users.FirstOrDefault(find => find.id == item.SenderID).account_name;
                                                    <li>
                                                        <div class="mess_item">
                                                            <h4>@tmpname</h4>
                                                            <p>@item.MessageContent</p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            @*<li>
                                                    <div class="mess_item">
                                                        <h4>Davis Ngo</h4>
                                                        <p>Hello Alnor :)))</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mess_item">
                                                        <h4>Davis Ngo</h4>
                                                        <p>Very Good! Thank You </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mess_item">
                                                        <h4>Davis Ngo</h4>
                                                        <p>The service was amazing !!!</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="mess_item">
                                                        <h4>Davis Ngo</h4>
                                                        <p>Hello Alnor, Can you advise me further?</p>
                                                    </div>
                                                </li>*@
                                            <a href="/user/homeuser/chatUser">Show All</a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn_item">
                                    <button class="btn_notifi">
                                        @{
                                            int countNoti = 0;
                                            foreach (var item in db.user_notification.Where(tmp => tmp.userid == p_user.id && tmp.un_status == 0).ToList())
                                            {
                                                countNoti++;
                                            }
                                        }
                                        @if (countNoti != 0)
                                        {
                                            <i class="fa-solid fa-bell"></i>
                                            <div class="number_alert">
                                                <p>@countNoti</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-bell"></i>
                                            <div class="number_alert hide">
                                                <p>@countNoti</p>
                                            </div>
                                        }
                                    </button>
                                    <span>Notification</span>
                                    <div class="modal notifi">
                                        <ul class="modal_box">
                                            @{
                                                position = 0;
                                                foreach (var item in uns)
                                                {
                                                    position++;
                                                    if (position == 5) { break; }
                                                    <li>
                                                        <div class="mess_item">
                                                            @*<h4>Payment</h4>*@
                                                            <p>@item.content</p>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            @*<li>
                                                    <div class="mess_item">
                                                        <h4>Payment</h4>
                                                        <p>Paid room fee of $300</p>
                                                    </div>
                                                </li>*@
                                            <a href="/user/homeuser/notification">Show All</a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="avatar">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-8 m-8 c-12">
                        <div class="container">
                            <div class="col l-6 m-6 c-12">
                                <div class="statistical_box">
                                    <div class="icon">
                                        <i class="fa fa-chart-line"></i>
                                    </div>
                                    <div class="infor">
                                        <span>Month Renter</span>
                                        <div class="number">
                                            <p id="month_renter">1234</p>
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-6 m-6 c-12">
                                <div class="statistical_box">
                                    <div class="icon">
                                        <i class="fa-solid fa-chart-area"></i>
                                    </div>
                                    <div class="infor">
                                        <span>Total Renter</span>
                                        <div class="number">
                                            <p id="total_renter">1234</p>
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-6 m-6 c-12">
                                <div class="statistical_box">
                                    <div class="icon">
                                        <i class="fa-solid fa-chart-column"></i>
                                    </div>
                                    <div class="infor">
                                        <span>Month Revenue</span>
                                        <div class="number">
                                            <span>$</span>
                                            <p id="month_revenue">1234</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col l-6 m-6 c-12">
                                <div class="statistical_box">
                                    <div class="icon">
                                        <i class="fa-solid fa-chart-pie"></i>
                                    </div>
                                    <div class="infor">
                                        <span>Total Revenue</span>
                                        <div class="number">
                                            <span>$</span>
                                            <p id="total_revenue">1234</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col l-6 m-12 c-12">
                                <div class="box">
                                    <div class="tittle">
                                        <p>Statistics Of The Year</p>
                                    </div>
                                    <canvas id="renter_chart"></canvas>
                                </div>
                            </div>
                            <div class="col l-6 m-12 c-12">
                                <div class="box">
                                    <div class="tittle">
                                        <p>Statistics Of The Month</p>

                                        <select name="" id="by_year">
                                            @{
                                                string currentyear = DateTime.Now.ToString("yyyy");
                                                string yearbecomehost = p_user.day_become_host.Value.ToString("yyyy");
                                                for (int i = int.Parse(currentyear); i >= int.Parse(yearbecomehost); i--)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <canvas id="revenue_chart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col l-12 m-12 c-12">
                                <div class="box_list">
                                    <div class="tittle">
                                        <p>List of room tenants</p>
                                        <button class="show_all_list_room">Show all</button>
                                    </div>
                                    <div class="table_render">
                                        <table>
                                            <thead>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Place</th>
                                            <th>Price</th>
                                            <th>Payments</th>
                                            <th>Action</th>
                                            </thead>
                                            <tbody>
                                                @{
                                                    position = 0;
                                                    foreach (var tmp in listUserBooking)
                                                    {
                                                        position++;
                                                        if (position == 5) { break; }
                                                        <tr>
                                                            <td>@tmp.booking_date.Value.ToString("dd/MM/yyyy")</td>
                                                            <td>@tmp.user.account_name</td>
                                                            <td>@tmp.property.p_address</td>
                                                            <td>@tmp.amount_paid$</td>
                                                            @{
                                                                if (tmp.transaction_id == null)
                                                                {
                                                                    <td>Not Paid</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Paid</td>
                                                                    <td>
                                                                        <button><a href="/user/homeuser/invoice?id=@tmp.transaction_id" target="_blank">Detail</a></button>
                                                                    </td>
                                                                }
                                                            }

                                                        </tr>
                                                    }
                                                }
                                                @*<tr>
                                                        <td>12/4/2024</td>
                                                        <td>Davis Ngo</td>
                                                        <td>192 NewYork City</td>
                                                        <td>400$</td>
                                                        <td>Paid</td>
                                                        <td>
                                                            <button><a href="">Detail</a></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12/4/2024</td>
                                                        <td>Davis Ngo</td>
                                                        <td>192 NewYork City</td>
                                                        <td>400$</td>
                                                        <td>Paid</td>
                                                        <td>
                                                            <button><a href="">Detail</a></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12/4/2024</td>
                                                        <td>Davis Ngo</td>
                                                        <td>192 NewYork City</td>
                                                        <td>400$</td>
                                                        <td>Paid</td>
                                                        <td>
                                                            <button><a href="">Detail</a></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12/4/2024</td>
                                                        <td>Davis Ngo</td>
                                                        <td>192 NewYork City</td>
                                                        <td>400$</td>
                                                        <td>Paid</td>
                                                        <td>
                                                            <button><a href="">Detail</a></button>
                                                        </td>
                                                    </tr>*@
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-4 m-4 c-12">
                        <div class="container">
                            <div class="col l-12 m-12 c-12">
                                <div class="box">
                                    @{
                                        string urlavatar = "";
                                        if (p_user.user_profile.FirstOrDefault().user_avatar != null)
                                        {
                                            urlavatar = p_user.user_profile.FirstOrDefault().user_avatar;
                                        }
                                        else
                                        {
                                            urlavatar = "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png";
                                        }
                                    }
                                    <div class="avatar_hosting icon_style" style="background: url(@urlavatar) top center /cover no-repeat">
                                    </div>
                                    <div class="name_hosting">
                                        <p>@p_user.user_personalInfor.FirstOrDefault().legal_name</p>
                                        <span>Hosting</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col l-12 m-12 c-12">
                                <div class="tittle">
                                    <p>My Hotel</p>
                                </div>
                                <div class="box">
                                    @{
                                        position = 0;
                                        foreach (PPl3.Models.property item in Model)
                                        {
                                            position++;
                                            if (position == 1)
                                            {
                                                <div class="box_item focus">
                                                    <i class="fa-solid fa-house"></i>
                                                    <p>@item.p_address</p>
                                                    @{
                                                        if (item.p_status != 1)
                                                        {
                                                            <span style="background-color:red !important">Unfinished</span>
                                                        }
                                                        else if (item.availability_type == 0)
                                                        {
                                                            <span style="background-color: rgb(228, 109, 25) !important">Reservation expires</span>
                                                        }
                                                        else if (item.p_status == 1)
                                                        {
                                                            <span style="background-color: green !important">Complete</span>

                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="box_item">
                                                    <i class="fa-solid fa-house"></i>
                                                    <p>@item.p_address</p>
                                                    @{
                                                        if (item.p_status != 1)
                                                        {
                                                            <span style="background-color:red !important">Unfinished</span>
                                                        }
                                                        else if (item.availability_type == 0)
                                                        {
                                                            <span style="background-color: rgb(228, 109, 25) !important">Reservation expires</span>
                                                        }
                                                        else if (item.p_status == 1)
                                                        {
                                                            <span style="background-color: green !important">Complete</span>

                                                        }
                                                    }

                                                </div>
                                            }
                                        }
                                    }
                                    @*<div class="box_item focus">
                                            <i class="fa-solid fa-house"></i>
                                            <p>192, NewYork City</p>
                                            <span>In Progress</span>
                                        </div>
                                        <div class="box_item">
                                            <i class="fa-solid fa-house"></i>
                                            <p>192, NewYork City</p>
                                            <span>Return</span>
                                        </div>
                                        <div class="box_item">
                                            <i class="fa-solid fa-house"></i>
                                            <p>192, NewYork City</p>
                                            <span>Pending</span>
                                        </div>
                                        <div class="box_item">
                                            <i class="fa-solid fa-house"></i>
                                            <p>192, NewYork City</p>
                                            <span>In Progress</span>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col l-12 m-12 c-12">
                                <a class="box_add" href="/host/homehost/addHotel"><i class="fa-solid fa-plus"></i>Add Hotel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-12">
                        <div class="container">
                            <div class="col l-12 m-12 c-12">
                                <div class="box_list">
                                    <div class="tittle">
                                        <p>Comments Of User</p>
                                        <button class="show_all_comment">Show all</button>
                                    </div>
                                    <ul class="comment_list">
                                        @{
                                            position = 0;
                                            int rating = 0;

                                            foreach (var tmp in listUserReview)
                                            {
                                                position++;
                                                if (position == 6) { break; }
                                                urlavatar = "";
                                                if (tmp.user1.user_profile.FirstOrDefault().user_avatar != null && tmp.user1.user_profile != null)
                                                {
                                                    urlavatar = tmp.user1.user_profile.FirstOrDefault().user_avatar;
                                                }
                                                else
                                                {
                                                    urlavatar = "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png";
                                                }
                                                <li>
                                                    <div class="avatar_user icon_style" style="background: url(@urlavatar) top center /cover no-repeat">
                                                        <div class="icon_star">
                                                            @{
                                                                rating = int.Parse(tmp.rating);
                                                                for (int i = 1; i <= 5; i++)
                                                                {
                                                                    if (i <= rating)
                                                                    {
                                                                        <i class="fa-solid fa-star"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa-regular fa-star"></i>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="comment_details">
                                                        <div class="item">
                                                            <h4>@tmp.user1.account_name</h4>
                                                            <span>@tmp.created.Value.ToString("dd/MM/yyyy")</span>
                                                        </div>
                                                        <p>@tmp.comment</p>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-12">
                        <div class="container">
                            <div class="col l-12 m-12 c-12">
                                <div class="box_list">
                                    <div class="tittle">
                                        <p>List Of Current Tenants</p>
                                        <button class="show_all_list_current">Show all</button>
                                    </div>
                                    <ul class="comment_list">
                                        @{
                                            position = 0;
                                            foreach (var tmp in listUserCurrent)
                                            {
                                                position++;
                                                if (position == 6) { break; }
                                                urlavatar = "";
                                                if (tmp.user.user_profile.FirstOrDefault().user_avatar != null && tmp.user.user_profile != null)
                                                {
                                                    urlavatar = tmp.user.user_profile.FirstOrDefault().user_avatar;
                                                }
                                                else
                                                {
                                                    urlavatar = "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png";
                                                }
                                                <li>
                                                    <div class="avatar_user icon_style" style="background: url(@urlavatar) top center /cover no-repeat">
                                                    </div>
                                                    <div class="comment_details">
                                                        <div class="item">
                                                            <h4>@tmp.user.account_name</h4>
                                                            <span>In Progress</span>
                                                        </div>
                                                        <p>Rent from @tmp.check_in_date.Value.ToString("dd/MM/yyyy") to @tmp.check_out_date.Value.ToString("dd/MM/yyyy")</p>
                                                    </div>
                                                </li>
                                            }
                                        }
                                        @*<li>
                                                <div class="avatar_user">

                                                </div>
                                                <div class="comment_details">
                                                    <div class="item">
                                                        <h4>Davis Ngo</h4>
                                                        <span>In Progress</span>
                                                    </div>
                                                    <p>Rent from May 1, 2024 to May 5, 2024</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar_user">

                                                </div>
                                                <div class="comment_details">
                                                    <div class="item">
                                                        <h4>Davis Ngo</h4>
                                                        <span>In Progress</span>
                                                    </div>
                                                    <p>Rent from May 1, 2024 to May 5, 2024</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar_user">

                                                </div>
                                                <div class="comment_details">
                                                    <div class="item">
                                                        <h4>Davis Ngo</h4>
                                                        <span>In Progress</span>
                                                    </div>
                                                    <p>Rent from May 1, 2024 to May 5, 2024</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="avatar_user">

                                                </div>
                                                <div class="comment_details">
                                                    <div class="item">
                                                        <h4>Davis Ngo</h4>
                                                        <span>In Progress</span>
                                                    </div>
                                                    <p>Rent from May 1, 2024 to May 5, 2024</p>
                                                </div>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="comment_detail">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-o-2 l-8 m-o-1 m-10 c-o-1 c-10 comment_detail_container">
                        <div class="comment_detail_tittle">
                            @{
                                int totalReviews = 0;
                                double AvgRating = 0;
                                foreach (PPl3.Models.property item in Model)
                                {
                                    foreach (var tmp in item.property_reviews.ToList())
                                    {
                                        totalReviews++;
                                        AvgRating += (double)tmp.overall_rating;
                                    }
                                }
                                AvgRating = AvgRating / totalReviews;
                            }
                            <h2><i class="fa-regular fa-solid fa-star"></i> @AvgRating · @totalReviews reviews</h2>
                        </div>
                        <div class="comment_box">
                            @{
                                position = 0;
                                rating = 0;

                                foreach (var tmp in listUserReview)
                                {
                                    position++;
                                    urlavatar = "";
                                    if (tmp.user1.user_profile.FirstOrDefault().user_avatar != null && tmp.user1.user_profile != null)
                                    {
                                        urlavatar = tmp.user1.user_profile.FirstOrDefault().user_avatar;
                                    }
                                    else
                                    {
                                        urlavatar = "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png";
                                    }
                                    <div class="comment_item_detail comment_user_@position">
                                        <div class="header_comment">
                                            <div class="avatar_user icon_style" style="background: url(@urlavatar) top center /cover no-repeat"></div>
                                            <div>
                                                <span>@tmp.user.account_name</span>
                                                @{
                                                    string address = "";
                                                    if (tmp.user1.user_personalInfor.FirstOrDefault() != null)
                                                    {
                                                        if (tmp.user1.user_personalInfor.FirstOrDefault().country_id != null)
                                                        {
                                                            address = tmp.user1.user_personalInfor.FirstOrDefault().country_id;
                                                            if (tmp.user1.user_personalInfor.FirstOrDefault().u_state != null)
                                                            {
                                                                address = tmp.user1.user_personalInfor.FirstOrDefault().u_state + ", " + tmp.user1.user_personalInfor.FirstOrDefault().country_id;
                                                                if (tmp.user1.user_personalInfor.FirstOrDefault().u_city != null)
                                                                {
                                                                    address = tmp.user1.user_personalInfor.FirstOrDefault().u_city + ", " + tmp.user1.user_personalInfor.FirstOrDefault().u_state + ", " + tmp.user1.user_personalInfor.FirstOrDefault().country_id;
                                                                }
                                                            }
                                                        }
                                                    }

                                                }
                                                <p>@address</p>
                                            </div>
                                        </div>
                                        <div class="time_comment">
                                            <div class="star_comment">
                                                @{
                                                    rating = int.Parse(tmp.rating);
                                                    for (int i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= rating)
                                                        {
                                                            <i class="fa-solid fa-star"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa-regular fa-star"></i>
                                                        }
                                                    }
                                                }
                                                @*<i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>
                                                    <i class="fa-solid fa-star"></i>*@
                                            </div>
                                            <span>@tmp.created.Value.ToString("dd/MM/yyyy")</span>
                                        </div>

                                        <div class="body_comment_detail">
                                            <p>@tmp.comment</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="list_room">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-o-2 l-8 m-8 c-12">
                        <div class="box list_room_container">
                            <div class="tittle">
                                <p>List of room tenants</p>
                            </div>
                            <div class="list_room_box table_render">
                                <table>
                                    <thead>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Place</th>
                                    <th>Price</th>
                                    <th>Payments</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var tmp in listUserBooking)
                                            {
                                                <tr>
                                                    <td>@tmp.booking_date.Value.ToString("dd/MM/yyyy")</td>
                                                    <td>@tmp.user.account_name</td>
                                                    <td>@tmp.property.p_address</td>
                                                    <td>@tmp.amount_paid$</td>
                                                    @{
                                                        if (tmp.transaction_id == null)
                                                        {
                                                            <td>Not Paid</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Paid</td>
                                                            <td>
                                                                <button><a href="/user/homeuser/invoice?id=@tmp.transaction_id" target="_blank">Detail</a></button>
                                                            </td>
                                                        }
                                                    }

                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="list_current">
            <div class="gird wide">
                <div class="row no-gutter">
                    <div class="col l-o-2 l-8 m-8 c-12">
                        <div class="box list_room_container">
                            <div class="tittle">
                                <p>List Of Current Tenants</p>
                            </div>
                            <div class="current_box">
                                @{
                                    position = 0;
                                    foreach (var tmp in listUserCurrent)
                                    {
                                        position++;
                                        if (position == 6) { break; }
                                        urlavatar = "";
                                        if (tmp.user.user_profile.FirstOrDefault().user_avatar != null && tmp.user.user_profile != null)
                                        {
                                            urlavatar = tmp.user.user_profile.FirstOrDefault().user_avatar;
                                        }
                                        else
                                        {
                                            urlavatar = "https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png";
                                        }
                                        <div class="current_item">
                                            <div class="user_item">
                                                <div class="avatar_user icon_style" style="background: url(@urlavatar) top center /cover no-repeat">

                                                </div>
                                                <div class="name_user">
                                                    <p>@tmp.user.account_name</p>
                                                </div>
                                            </div>
                                            <div class="name_hotel">
                                                <p>@tmp.property.p_address</p>
                                            </div>
                                            <div class="date_check">
                                                <span class="dot_check_in"><i class="fa-solid fa-circle"></i>@tmp.check_in_date.Value.ToString("dd/MM/yyyy")</span>
                                                <span class="dot_check_out"><i class="fa-solid fa-circle"></i>@tmp.check_out_date.Value.ToString("dd/MM/yyyy")</span>
                                            </div>
                                            <div class="price">
                                                <span>@tmp.transaction.amount$</span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ExtraFiles/JS/revenue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const revenueCtx = document.getElementById('revenue_chart').getContext('2d');
            const renterCtx = document.getElementById('renter_chart').getContext('2d');

            let revenueChart = new Chart(revenueCtx, {
                type: "line",
                data: {
                    labels: [],
                    datasets: [
                        {
                            label: "Renter",
                            data: [],
                            backgroundColor: "rgba(235, 22, 22, .7)",
                            fill: true
                        },
                        {
                            label: "Revenue",
                            data: [],
                            backgroundColor: "rgba(235, 22, 22, .5)",
                            fill: true
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });

            let renterChart = new Chart(renterCtx, {
                type: "bar",
                data: {
                    labels: [],
                    datasets: [
                        {
                            label: "Renter",
                            data: [],
                            backgroundColor: "rgba(235, 22, 22, .7)"
                        },
                        {
                            label: "Revenue",
                            data: [],
                            backgroundColor: "rgba(235, 22, 22, .5)"
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });

            $.ajax({
                type: "GET",
                url: "/host/homehost/GetListDataForRevenue",
                success: function (response) {
                    var data = response.Data;
                    var data1 = response.Data1;

                    const moneyList = data.map(item => item.money);
                    const newLabels = data.map(item => item.year);
                    const renterList = data.map(item => item.renters);
                    const moneyList1 = data1.map(item => item.money);
                    const newLabels1 = data1.map(item => item.month);
                    const renterList1 = data1.map(item => item.renters);

                    $("#month_renter").text(response.MonthRenter);
                    $("#total_renter").text(response.TotalRenter);
                    $("#month_revenue").text(response.MonthRevenue);
                    $("#total_revenue").text(response.TotalRevenue);

                    renterChart.data.labels = newLabels;
                    renterChart.data.datasets[0].data = renterList;
                    renterChart.data.datasets[1].data = moneyList;
                    renterChart.update();

                    revenueChart.data.labels = newLabels1;
                    revenueChart.data.datasets[0].data = renterList1;
                    revenueChart.data.datasets[1].data = moneyList1;
                    revenueChart.update();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });

            const updateRevenueChart = (year) => {
                $.ajax({
                    type: "GET",
                    url: "/host/homehost/getRevenueChartInYear",
                    data: { year: year },
                    success: function (response) {
                        if (response.phanhoi === "true") {
                            const data1 = response.Data1;
                            const moneyList1 = data1.map(item => item.money);
                            const renterList1 = data1.map(item => item.renters);
                            const newLabels1 = data1.map(item => item.month);

                            revenueChart.data.labels = newLabels1;
                            revenueChart.data.datasets[0].data = renterList1;
                            revenueChart.data.datasets[1].data = moneyList1;
                            revenueChart.update();
                        } else {
                            console.log(response.phanhoi);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            };

            const yearSelect = document.getElementById('by_year');
            yearSelect.addEventListener('change', function () {
                const selectedYear = this.value;
                updateRevenueChart(selectedYear);
            });

            const defaultYear = yearSelect.value;
            updateRevenueChart(defaultYear);
        });
    </script>
</body>
</html>
