<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T|.|n|.|T</title>
    <link rel="icon" href="https://seeklogo.com/images/A/airbnb-logo-1D03C48906-seeklogo.com.png">
    <link href="~/ExtraFiles/assets/css/book_room.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/gird.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/style_v1.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/seller_profile.css?v=1" rel="stylesheet" />
    <link href="~/ExtraFiles/assets/css/Sign_Log_v1.css?v=1" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
</head>
<body>
    <div class="main">
        <div id="first_header">
            <div class="gird wide">
                <div class="row sm-gutter first_nav">
                    <div class="col l-2 m-1 c-2">
                        <div class="nav_logo">
                            <a href="index.html" class="logo_link">
                                <i class="fa-brands fa-airbnb"></i>
                                <h1>T|.|n|.|T</h1>
                            </a>
                        </div>
                    </div>

                    <div class="col l-6 m-7 c-4">
                        <div class="first_experience_list">
                            <button class="js_stays_btn">Stays</button>
                            <button class="js_experience_btn">Experiences</button>
                            <a href="#">Online Experiences</a>
                        </div>
                    </div>

                    <div class="col l-4 m-4 c-6 nav_menuUser">
                        <div class="nav_languages">
                            <a href="">Airbnb your home</a>
                            <button><i class="fa-solid fa-globe"></i></button>
                        </div>
                        <div class="nav_login">
                            <button class="js_menuUser_btn"><i class="fa-solid fa-bars"></i></button>
                            <button class="js_menuUser_btn"><i class="fa-solid fa-user"></i></i></button>
                        </div>
                        @RenderSection("Menu", required: false)
                    </div>

                </div>
                <div class="row book_experience js_book_experience">
                    <div class="l-o-2 l-8 m-12 c-10 book_container_experience js_book_container_experience">
                        <button class="place_btn">Where<p>Search destinations</p></button>
                        <span id="span1">|</span>
                        <button class="date_btn">Date<p>Add dates</p></button>
                        <span id="span2">|</span>
                        <div class="search">
                            <button class="people_btn">Who<p>Add guests</p></button>
                            <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row book_stays js_book_stays">
                    <div class="l-o-2 l-8 m-12 c-10 book_container_stays js_book_container_stays">
                        <button class="place_btn">Where<p>Search destinations</p></button>
                        <span id="span1">|</span>
                        <button class="date_btn_in">Check in<p>Add dates</p></button>
                        <span id="span2">|</span>
                        <button class="date_btn_out">Check out<p>Add dates</p></button>
                        <span id="span3">|</span>
                        <div class="search_stays">
                            <button class="people_btn">Who<p>Add guests</p></button>
                            <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="menu_places">
                <div class="menu_places_container">
                    <header>Search by region</header>
                    <div class="menu_places_body">

                    </div>
                </div>
            </div> -->

        </div>

        <div id="room_classification">
            <div class="gird wide">
                <div class="row sm-gutter room_classifi_container">
                    <div class="col l-12 m-12 c-12 room_classifi_list">
                        @RenderSection("ListMainAmenity", required: false)

                    </div>

                    <div class="room_classifi_btns">
                        <div class="btn_left_room classifi_btn"><i class="fa-solid fa-angle-left"></i></div>
                        <div class="btn_right_room classifi_btn"><i class="fa-solid fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="header">
            <div class="gird wide">
                <div class="row sm-gutter nav">
                    <div class="col l-3 m-1 c-2">
                        <div class="nav_logo">
                            <a href="/home/index" class="logo_link">
                                <i class="fa-brands fa-airbnb"></i>
                                <h1>airbnb</h1>
                            </a>
                        </div>
                    </div>

                    <div class="col l-5 m-6 c-4">
                        <div class="experience_list">
                            <button class="place_btn">Anywhere</button>
                            <span>|</span>
                            <button class="date_btn_in">Any week</button>
                            <span>|</span>
                            <button class="people_btn">Add Guests</button>
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>

                    <div class="col l-3 m-4 c-4">
                        <div class="nav_languages">
                            <a href="#">Airbnb your home</a>
                            <button><i class="fa-solid fa-globe"></i></button>
                        </div>
                    </div>

                    <div class="col l-1 m-1 c-2">
                        <div class="nav_languages">
                            <a href="#">Airbnb your home</a>
                            <button><i class="fa-solid fa-globe"></i></button>
                        </div>
                        <div class="nav_login">
                            <button class="js_menuUser_btn"><i class="fa-solid fa-bars"></i></button>
                            <button class="js_menuUser_btn"><i class="fa-solid fa-user"></i></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="content">
            <div class="gird wide">
                <div class="row list_content">
                    @RenderSection("ListHotel", required: false)
                     @*<div class="col l-3 m-4 c-6 content_container">
                      <div class="content_item content_item_0">
                    <div class="list_img list_img_0">
                    <img class="img_0" src="" alt="">
                    <img class="img_0" src="" alt="">
                    <img class="img_0" src="" alt="">
                    <img class="img_0" src="" alt="">
                    <img class="img_0" src="" alt="">
                    <img class="img_0" src="" alt="">
                </div>
                <div class="img_btns">
                    <div class="btn_left btn_left_0 img_btn"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="btn_right btn_right_0 img_btn"><i class="fa-solid fa-angle-right"></i></div>
                </div>

                <div class="index_imgs">
                    <div class="index_item index-item-0_0 active_0"></div>
                    <div class="index_item index-item-1_0"></div>
                    <div class="index_item index-item-2_0"></div>
                    <div class="index_item index-item-3_0"></div>
                    <div class="index_item index-item-4_0"></div>
                    <div class="index_item index-item-5_0"></div>
                </div>

                <div class="heart_icon heart_icon_0">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="profile_seller profile_seller_0">
                    <div class="img_profile">
                        <div class="img_seller img_seller_0">
                        </div>
                    </div>
                    <div class="profile_behind">
                    </div>
                </div>

            </div>

            <div class="name_hotel name_hotel_0">
                <p>Rome, Italy</p>
                <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>

            <div class="review_hotel review_hotel_0">
                <p>Hướng Biển và Biển</p>
                <p>Ngày 17 - Ngày 22 tháng 3</p>
            </div>

            <div class="price_hotel price_hotel_0">
                <span>$1.196 / đêm</span>
            </div>
        </div>

        <div class="col l-3 m-4 c-6 content_container">
            <div class="content_item content_item_1">
                <div class="list_img list_img_1">
                    <img class="img_1" src="" alt="">
                    <img class="img_1" src="" alt="">
                    <img class="img_1" src="" alt="">
                    <img class="img_1" src="" alt="">
                    <img class="img_1" src="" alt="">
                    <img class="img_1" src="" alt="">
                </div>
                <div class="img_btns">
                    <div class="btn_left btn_left_1 img_btn"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="btn_right btn_right_1 img_btn"><i class="fa-solid fa-angle-right"></i></div>
                </div>

                <div class="index_imgs">
                    <div class="index_item index-item-0_1 active_1"></div>
                    <div class="index_item index-item-1_1"></div>
                    <div class="index_item index-item-2_1"></div>
                    <div class="index_item index-item-3_1"></div>
                    <div class="index_item index-item-4_1"></div>
                    <div class="index_item index-item-5_1"></div>
                </div>

                <div class="heart_icon heart_icon_1">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="profile_seller profile_seller_1">
                    <div class="img_profile">
                        <div class="img_seller img_seller_1">
                        </div>
                    </div>
                    <div class="profile_behind">
                    </div>
                </div>

            </div>

            <div class="name_hotel name_hotel_1">
                <p>Rome, Italy</p>
                <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>

            <div class="review_hotel review_hotel_1">
                <p>Hướng Biển và Biển</p>
                <p>Ngày 17 - Ngày 22 tháng 3</p>
            </div>

            <div class="price_hotel price_hotel_1">
                <span>$1.196 / đêm</span>
            </div>
        </div>

        <div class="col l-3 m-4 c-6 content_container">
            <div class="content_item content_item_2">
                <div class="list_img list_img_2">
                    <img class="img_2" src="" alt="">
                    <img class="img_2" src="" alt="">
                    <img class="img_2" src="" alt="">
                    <img class="img_2" src="" alt="">
                    <img class="img_2" src="" alt="">
                    <img class="img_2" src="" alt="">
                </div>
                <div class="img_btns">
                    <div class="btn_left btn_left_2 img_btn"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="btn_right btn_right_2 img_btn"><i class="fa-solid fa-angle-right"></i></div>
                </div>

                <div class="index_imgs">
                    <div class="index_item index-item-0_2 active_2"></div>
                    <div class="index_item index-item-1_2"></div>
                    <div class="index_item index-item-2_2"></div>
                    <div class="index_item index-item-3_2"></div>
                    <div class="index_item index-item-4_2"></div>
                    <div class="index_item index-item-5_2"></div>
                </div>

                <div class="heart_icon heart_icon_2">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="profile_seller profile_seller_2">
                    <div class="img_profile">
                        <div class="img_seller img_seller_2">
                        </div>
                    </div>
                    <div class="profile_behind">
                    </div>
                </div>

            </div>

            <div class="name_hotel name_hotel_2">
                <p>Rome, Italy</p>
                <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>

            <div class="review_hotel review_hotel_2">
                <p>Hướng Biển và Biển</p>
                <p>Ngày 17 - Ngày 22 tháng 3</p>
            </div>

            <div class="price_hotel price_hotel_2">
                <span>$1.196 / đêm</span>
            </div>
        </div>

        <div class="col l-3 m-4 c-6 content_container">
            <div class="content_item content_item_3">
                <div class="list_img list_img_3">
                    <img class="img_3" src="" alt="">
                    <img class="img_3" src="" alt="">
                    <img class="img_3" src="" alt="">
                    <img class="img_3" src="" alt="">
                    <img class="img_3" src="" alt="">
                    <img class="img_3" src="" alt="">
                </div>
                <div class="img_btns">
                    <div class="btn_left btn_left_3 img_btn"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="btn_right btn_right_3 img_btn"><i class="fa-solid fa-angle-right"></i></div>
                </div>

                <div class="index_imgs">
                    <div class="index_item index-item-0_3 active_3"></div>
                    <div class="index_item index-item-1_3"></div>
                    <div class="index_item index-item-2_3"></div>
                    <div class="index_item index-item-3_3"></div>
                    <div class="index_item index-item-4_3"></div>
                    <div class="index_item index-item-5_3"></div>
                </div>

                <div class="heart_icon heart_icon_3">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="profile_seller profile_seller_3">
                    <div class="img_profile">
                        <div class="img_seller img_seller_3">
                        </div>
                    </div>
                    <div class="profile_behind">
                    </div>
                </div>

            </div>

            <div class="name_hotel name_hotel_3">
                <p>Rome, Italy</p>
                <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>

            <div class="review_hotel review_hotel_3">
                <p>Hướng Biển và Biển</p>
                <p>Ngày 17 - Ngày 22 tháng 3</p>
            </div>

            <div class="price_hotel price_hotel_3">
                <span>$1.196 / đêm</span>
            </div>*@
          @*</div>*@
        </div>
     </div>
   </div>
        @RenderSection("SideBar", required: false)


        <div id="seller_profile">
            <div class="seller">
                <div class="seller_profile_container seller_profile_container_left">
                    <div class="logo_company">
                        <i class="fa-brands fa-airbnb"></i>
                        <h1>T|.|N|.|T</h1>
                    </div>

                    <div class="profile_left">
                        <div class="profile_left_box">
                            <div class="img_seller_profile"></div>
                            <div class="logo_shield"><i class="fa-solid fa-shield"></i></i></div>
                            <span class="name_seller">Thomas Henrry</span>
                            <div class="contact_seller">
                                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>

                            <div class="page_arrow">
                                <button class="page_left_1_btn"><i class="fa-solid fa-chevron-left"></i></button>
                                <p>1</p>
                                <button class="page_right_1_btn"><i class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seller_profile_container seller_profile_container_right">
                    <div class="profile_right">
                        <div class="profile_right_box">
                            <div class="about_seller">
                                <p>i am  a vietnamese woman, my lovely job is take care of my family , my husband is an architecter, he made my homestay, so i proud of this, i want to take care of my homestay like take care of my daughter (i have two son now) :)), i alway help my guests , i want them comfortable in my home, like their house, i want them come back to my homestay and we  welcome them like friend visit my house....thanks so much to read ...</p>
                            </div>

                            <div class="page_arrow">
                                <button class="page_left_2_btn"><i class="fa-solid fa-chevron-left"></i></button>
                                <p>2</p>
                                <button class="page_right_2_btn"><i class="fa-solid fa-chevron-right"></i></button>
                            </div>

                            <!-- <div class="img_seller_profile"></div>
                            <div class="logo_shield"><i class="fa-solid fa-shield"></i></i></div>
                            <span class="name_seller">Thomas Henrry</span>
                            <div class="contact_seller">
                                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>

                            <div class="page_arrow">
                                <button class="page_left_1_btn"><i class="fa-solid fa-chevron-left"></i></button>
                                <p>1</p>
                                <button class="page_right_1_btn"><i class="fa-solid fa-chevron-right"></i></button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert_out">
        <i class="fa-solid fa-check"></i>
        <p>Log Out !</p>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/ExtraFiles/JS/first_header.js?v=1"></script>
    <script src="~/ExtraFiles/JS/imgSlide.js?v=1"></script>
    <script src="~/ExtraFiles/JS/main_v1.js?v=1"></script>
    <script src="~/ExtraFiles/JS/room_classifi_v1.js?v=1"></script>>
    <script src="~/ExtraFiles/JS/seller_profile.js?v=1"></script>
    <script src="~/ExtraFiles/JS/Sign_Log_v1.js?v=1"></script>
</body>
</html>